[2018-07-20 05:09] hupili opened #1 "Chapter 0 first version content"

[2018-07-20 05:10] hupili opened #2 "Chapter 1 working thread"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-01.md

Tick when resolved:

* [x] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-01.md#how-to-open-terminal-on-mac  . Add a screenshot to show spotlight search result.
* [x] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/

[2018-07-20 05:18] hupili commented on #2
It looks better to take screenshot of an entire window. See here: https://support.apple.com/en-us/HT201361

[2018-07-20 05:19] hupili commented on #2
Watch out for privacy when taking screenshots. You may want to mask some personal information.

[2018-07-22 01:14] hupili commented on #2
@ChicoXYC , I made full review and added some more content requirements. Please study my modifications [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/035beea9b5d7c8525a58b25a89355e922280cb9f) for a better convention of using markdown. Notable points:

* **command+S** -->  **Command+s** . If you use "S", that usually means shift+s, aka capital. **command+S**

[2018-07-22 01:16] hupili commented on #2
Please use VSCode for offline editing and preview. The side panel is from an extension called "Markdown Preview Enhanced". This is more efficient than modifying on GitHub web UI.

<img width="1552" alt="screen shot 2018-07-22 at 9 14 51 am" src="https://user-images.githubusercontent.com/1227160/43041333-b52d0ffc-8d8f-11e8-88db-6eb1e8c69e99.png">

[2018-07-25 11:14] bonnie-yu commented on #2
<ul>
<li>Should also advise the meaning of "pwd" in the directory part.</li>
<li>Can change "cd python, cd to a certain folder" to "cd XX, XX refers to any certain folder in the directory". Starters always tend to follow the instructions tightly so will be better to give clear instructions. File names python can be misunderstood as the python installation package.</li>
<li>typo whther-->whether
<i

[2018-07-25 11:43] ChicoXYC commented on #2
@bonnie-yu @hupili thanks for your feedback! I will modify soon.

[2018-07-25 11:43] bonnie-yu commented on #2
Should advise 1) the suggested python version, 2) how to use the command “python v” to check python version,  3) method to make Python 2.7 and Python 3 coexist in the very beginning of chapter 1. So learners don’t need to get back to these fundamentals in the half of learning.

[2018-07-28 12:59] hupili commented on #2
@ChicoXYC please install the markdown lint plugin to help conform to the convention.

<img width="956" alt="screen shot 2018-07-28 at 8 57 12 pm" src="https://user-images.githubusercontent.com/1227160/43356729-d8968b9e-92a8-11e8-9950-81930deb6604.png">

non-conventional use will be highlighted as follows:

<img width="569" alt="screen shot 2018-07-28 at 8 56 08 pm" src="https://user-images.githubu

[2018-07-28 16:16] ChicoXYC commented on #2
@hupili Thx for your help. updated!

[2018-07-29 07:07] #2 closed

[2018-07-29 07:07] hupili commented on #2
Well done.

[2018-07-29 07:08] hupili opened #3 "Chapter 2 Working thread"

[2018-07-29 07:08] hupili opened #4 "Chapter 3 Working Thread - Python for anything: condition, loop, function, class"

[2018-07-29 07:08] hupili opened #5 "Chapter 4 Working Thread - API/ JSON/ CSV"

[2018-07-29 07:11] hupili commented on #1
@ChicoXYC , when you make examples/ screenshots, please use this repository if possible. For jupyter notebooks, you can pick one from: https://github.com/hupili/python-for-data-and-media-communication

[2018-07-29 07:37] hupili commented on #1
@ChicoXYC , please keep the following snippet in the footer of every chapter. I added it to week 01 as an example.

[code]

[2018-07-30 01:07] bonnie-yu commented on #3
- Need to change all the print syntax to Python 3 version. For Python 3, the print statement should be enclosed in parentheses, like `print("XXX")`.

- typo: caculate-->calculate
![screen shot 2018-07-30 at 9 44 00 am](https://user-images.githubusercontent.com/35587764/43371918-01ad2c00-93de-11e8-8a35-e5a3a6252f18.png)
![screen shot 2018-07-30 at 9 43 18 am](https://user-images.githubusercontent.c

[2018-08-02 03:51] rippleYJH commented on #1
@ChicoXYC Just some personal suggestions for you review. 1) can you explain a little bit further why we should preview Jupyter notebook on NBview? Are there any relationship with Github? For a new learner, I think it will be confusing.
2)Can you show how to create an index file in repository? If students don't want to just copy the example, is it possible to show them why (why we need to create an

[2018-08-02 16:04] hupili commented on #1
@rippleYJH

Maybe better for me to explain the concept and @ChicoXYC can add concrete examples and merge my explanations into the open book.

1) One can directly preview a Python notebook on GitHub. However, GitHub prohibits Javascript execution for security reasons. If you have interactive chart, e.g. from `echart`, `plotly`, those will not render on GitHub. NBViewer supports javascript and it is

[2018-08-03 03:13] rippleYJH commented on #1
@hupili That will be more clear!!

[2018-08-03 10:30] ChicoXYC commented on #1
update @hupili thanks @rippleYJH

[2018-08-06 02:58] hupili opened #6 "Change file naming convention"
Here is the file naming convention:

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/guide-for-contributor.md#file-naming-convention

Please do a quick scan in the `assets` folder and change the file names and their corresponding references in the markdown files.

[2018-08-06 03:31] hupili opened #7 "Add TOC for all sections"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/guide-for-contributor.md#table-of-contents-toc

[2018-08-06 04:15] hupili commented on #1
I added two optional chapters. FYI.

@ChicoXYC  Here are the remaining TODOs:

* [ ] Fix the section headings and check the TOC if the rendered result looks normal.
* [ ] Full proof-reading.

Then we can release to the precamp group.

[2018-08-06 16:44] hupili commented on #1
* [ ] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-00.md#why-we-should-preview-jupyter-notebook-on-nbviewer  -- Not only give the NBViewer link but also give the original GitHub link, so they know what works and what not.
* [ ] `Talking about this function, GitHub is like a cloud disk, which is similar to Google Drive，OneDrive. ` -- Chinese comma

[2018-08-07 08:41] ChicoXYC commented on #1
@hupili  Update, thanks for your patient instruction.

[2018-08-07 13:25] #1 closed

[2018-08-07 13:29] hupili commented on #3
* [ ] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/outline.md  please check if there are points in outline but not covered in the weekly notes. If so, let's discuss how to add them. The weekly notes from last semester may not completely reflect our teaching objective. It is adjusted based on the class pace. We can cover more in the e-book.
* [ ] https://git

[2018-08-07 13:30] hupili commented on #3
* [ ] a minor glitch -- a non-printable character

<img width="581" alt="screen shot 2018-08-07 at 9 30 10 pm" src="https://user-images.githubusercontent.com/1227160/43778750-1366f212-9a89-11e8-864d-8c36f46cb31a.png">

[2018-08-08 03:06] rippleYJH opened #8 "I have carefully went through the Chapter 2, the content is easy to understand, and I think the exercises are really helpful for new comers to better master basic knowledge about Python. Thank you for your hard work! :)"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
* Which chapter of book?:

## Describe your question

Example: I get IOError when running my script to load files.

## The minimum code (snippet) to reproduce the issue

Example:

[code]

## Describe the efforts you have spent on this issue

Exampl

[2018-08-08 03:42] hupili opened #9 "man - useful command to get help"
* [x] New section: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-01.md#get-inline-help-in-the-command-line

[2018-08-11 07:50] #8 closed

[2018-08-11 16:46] hupili commented on #9
The new section is generally in good shape.

I added some essential hotkeys. Please try it out and get familiar.

https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/2ae3978f4c579ad557f433e4f7fc34bdd1038e17

[2018-08-11 16:46] #9 closed

[2018-08-11 17:46] hupili opened #10 "Collect challenging websites/ data sources to crawl"
I realised one difficulty many groups encountered last time is unable to crawl some websites/ data sources they intended to. While it is impossible to enumerate potential cases and barriers, I decide to make more examples. @ChicoXYC please collect the crawling ideas from our past students that:

* They want to crawl initially
* They gave up in the end, due to unsolvable technical barriers

I will

[2018-08-11 17:46] hupili commented on #10
Notes on past scraping idea: https://dnnsociety.org/2018/03/10/some-scraping-targets-and-ideas/

[2018-08-11 18:07] hupili opened #11 "Python engineering/ data engineering"
* File structure for Python projects
* Separate crawler, parser, analysis and presentation notebooks

[2018-08-16 12:52] hupili commented on #7
@ChicoXYC , please leave a message once you finish adding TOC for all weeks, including those under development. We can layout the structure and keep developing.

[2018-08-16 12:54] hupili commented on #6
@ChicoXYC please leave a message once done for all the weeks. As discussed, you can subfolder those files first to make the outlook clean.

[2018-08-16 13:01] hupili commented on #3
I finished revising major problems. @ChicoXYC  Please study the following commits and incorporate in future notes:

* 3ae61a0c87e89efb458cc4144241cb6d828dd707  -- Put the discussion under more contexts. It is never too clear for the description. Always keep on sharpening the presentation and test with other users.
* a3f68561b43a8df62007d71c682d04dec22188c3 -- Give proper details with good relevanc

[2018-08-16 13:02] #3 closed

[2018-08-20 03:02] ChicoXYC commented on #10
@hupili
1. Crawling Apps like dating app and WeChat.
- They want to crawl to do case analysis for PR or media report.
- Reason to give up [Unknown]
2. Crawling Social media like Weibo, Twitter.
- To do social listening and brand analysis
- Reason to give up [Technical reasons like Simulated login, Dynamic crawling？]
3. Information aggregation platform like Zhihu, Linkin
- To do case analysis
- Rea

[2018-08-20 07:14] rippleYJH opened #12 "feedback for Charpter3"
It seems that this week has large load of content! Just some humble suggestions:

1. in the Str Comparison part we give an example: Name1 == Name3, then return the bool value is True. Is it necessary to explain the "equal" true meaning? Since if we try "Name1 is Name3", the result would be False. So the '==' just means the two items have equal content here, doesn't mean they are the same thing.

2

[2018-08-20 10:39] hupili commented on #12
I haven't read the notes yet. @ChicoXYC , as to a common strategy, please try to suppress the discussion of class method/ class variable. It is hard to establish a full concept of OOP, or OOP in Python. To make most of our projects work, we do not have to use classmethod or staticmethod. Just follow the most straightforward use: define class; instantiate it to operate on it.

[2018-08-21 01:13] HattyW0724 opened #13 "Hatty's Feedback on Ch3"
# Hatty's feedback on Chapter 3

### Before advice:

This chapter really surprises me because it is so fruitful, with full of knowledge points about statements, expressions, operators, functions, modules, methods, etc. and even though before reading Ch3 I learned parts of the same fundamental knowledge with a series of simple practices, it's still a tough work to finish all practice and check thro

[2018-08-21 04:32] ChicoXYC commented on #13
@HattyW0724 thx a lot.
* add for loop & while loop comparison
* fixed bugs
* examples adjustment

[2018-08-21 16:55] ChicoXYC commented on #12
@rippleYJH Thanks so much! As for your question

1. `is` will return True if two variables point to the same object, `==` will return true if the objects referred to by the variables are equal.
[code]
2. You can see the definition in the list table
3.
[code]
4.
[code]
5. yes, you can.
6. add remind
7. its a type error
8. you can put ahead of `break`, it will only change the sequence of the executi

[2018-08-22 01:47] rippleYJH commented on #12
Detailed explanation, much clear now, many thanks~ @ChicoXYC

[2018-08-22 02:00] #12 closed

[2018-08-22 11:01] #13 closed

[2018-08-22 13:49] ConnorLi96 opened #14 "Connor's Feedback&Question on Chapter 2"
## Feedback
This Chapter is really wonderful. Although I've already got a bit of fundamental knowledge about python from other channel,  I also receive new inspirations and flexible programming usage because it give more practical examples and transmit an important concept-use it in daily life.

Additionally, to be a fresh learner, I also have some suggestions and questions to this Chapter.

## Su

[2018-08-23 02:28] hupili commented on #14
Thanks @ConnorLi96 ! Clear written feedback. @ChicoXYC can you try to address the comments first? For better explaining certian concept, feel free to ask me. It also helps to link to different reading materials on a certain topic.

[2018-08-23 02:34] hupili commented on #4
@ChicoXYC one major feedback is to use Python script, instead of Python shell (interpreter), in chapter 3. You can see there are a lot of indentations when handling if/for/while/def/class. It is hard to type in Python shell. Also, readers find it hard to copy and paste for their own use.

Note how we evolve the tool-chain:

* ch0/ ch1 — just play around with GitHub and Python
* ch2 — play basic ar

[2018-08-23 04:06] ChicoXYC commented on #14
@ConnorLi96  @hupili
Thanks so much. Add explanation of array.shape and index, hope it may be helpful for you. If you have more questions, free to ask.

* Array.shape
[code]
* About index in data types

Simply, `Index` is like the position of one element in the whole list or object, which used to access this element. The index of first element is `0` and increases by integer. The following are exa

[2018-08-23 05:42] ChicoXYC commented on #4
@hupili I noticed that and wrote a note in the control flow chapter to remind them to use the script mode, and change the code structure for better copying and pasting.

[2018-08-23 06:03] ConnorLi96 commented on #14
Thanks a lot! This explanation is very useful and help me to understand it totally.

[2018-08-23 06:04] #14 closed

[2018-08-24 17:31] hupili commented on #4
* [ ] https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/407caee19590c63ff0249d640d3fe506aa5c695f  -- I modified some part as examples. Please proceed with the rest of the document (and other document if any).

[2018-08-25 12:52] hupili opened #15 "week-00: gh-pages steps"
@ChicoXYC here are two revisions.

* [x] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-00.md#step-4-commit--publish  . You showed a screenshot that is not part of the steps. The screenshot shows how to commit/ push to the current repo, i.e. `hupili/python-for-data-and-media-communication-gitbook`. Not the the repo you used to demo gh-pages. Please

[2018-08-25 13:25] hupili commented on #15
@ChicoXYC another thing to your demo page. Please make a more meaningful page. You don't have to use complex HTML/CSS or other templates. Having some real content is important. It can be a portfolio, piece of introduction, a small essay of learning Python, etc.

Say, just like what [JOUR2106](https://github.com/hkbu-jour2106/hkbu-jour2106.github.io) students can do after first lecture. Examples ar

[2018-08-26 10:38] hupili opened #16 "Chapter 5 Working thread - basic scraping (static)"
* [x] @ChicoXYC crawl the whole initiumlab.com -- need iterate the article list by pagination.

[2018-08-26 10:38] hupili opened #17 "Chapter 6 Working thread"

[2018-08-26 10:38] hupili opened #18 "Chapter 7 Working thread - pandas basics"
* [x] @hupili outline.
* [x] @ChicoXYC prepare an updated openrice dataset of similar format. **High Priority**. Please store the scraping script and dataset in the `scraper-example` folders. Create new files and don't override previous openrice example.
* [x] @ChicoXYC include the URL and POI ID of each restaurant into the 20K dataset.
* [x] @ChicoXYC , address the TODO notes for `pandas` basics.

[2018-08-26 10:38] hupili opened #19 "Chapter 8 Working thread - 1D analysis & 2D analysis"
* [x] @ChicoXYC organise from S18 notes, 1D and 2D analysis.

[2018-08-26 10:39] hupili opened #20 "Chapter 9 Working thread - data viz, presentation"
* [x] @hupili - structure.

bar chart via:

* [x] matplotlib
* [x] seaborn
* [x] pyecharts
* [x] plotly
* [x] etc (see other TODO notes in the comment)

end-to end workflow on gh-pages:

* [x] Exercise: Make a first page, simplest, CSS-free, single-column layout. @ChicoXYC
* [x] Put an interactive chart into the page.

[2018-08-26 10:43] hupili commented on #11
Some part in ch3:

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-03.md#o-python-engineering

[2018-08-26 11:26] hupili commented on #4
@ChicoXYC some comments in [last commit](https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/93a4f47ca64baf45e9c9422dd6792cc90a0bca76) needs to be further addressed.

Another thing is to solve and scan the following type of non-printable characters problem.

<img width="431" alt="screen shot 2018-08-26 at 7 24 17 pm" src="https://user-images.githubusercontent.com/12271

[2018-08-27 16:54] #4 closed

[2018-08-27 17:01] hupili commented on #5
@ChicoXYC , in case you didn't notice, there are some TODO comments in the file body.

* [ ] Address "TODO" comments in the file body.

[2018-08-27 17:03] hupili commented on #5
You can ask for pilot test while polishing up. We now have some committed helpers. They are learning at different pace. For those who finished ch3's challenge, they can join ch4 at this pilot stage. After we finish polishing in this thread, the rest can join. Then we release to the whole precamp.

[2018-08-27 17:35] hupili opened #21 "random module in ch2"
* [ ] Address TODO comments in ch2's random module section.

[2018-08-27 17:35] hupili commented on #21
inspired by: https://github.com/ConnorLi96/python-notebook/blob/master/challenge%20in%20chapter%203.ipynb

[2018-08-28 07:51] ChicoXYC commented on #21
@hupili update

[2018-08-31 05:38] hupili commented on #6
@ChicoXYC , after moving the image files, please change the corresponding path in the markdown file. https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-07.md  . The project is under development but please make sure it reads in its best status no matter when others check it out.

[2018-09-01 09:37] ChicoXYC commented on #6
@hupili  finish tidying of week 5-7

[2018-09-01 11:15] #7 closed

[2018-09-01 11:16] #6 closed

[2018-09-02 06:28] ChicoXYC commented on #15
@hupili  update, change the wrong pic and build a mini cv in html. 80bb39f

[2018-09-02 11:52] zhangjingwei0512 commented on #5
Hello，teacher and student.When doing my exercises,I found something wrong and don't know the reason.Hopefully to get answers from you! Thanks!
my code is:

![1](https://user-images.githubusercontent.com/42828228/44955634-118f0a00-aee9-11e8-8695-5aeaa4d40f04.PNG)

However,the python shows:
![2](https://user-images.githubusercontent.com/42828228/44955637-426f3f00-aee9-11e8-8cb7-450c07d73f54.PNG)

I

[2018-09-02 14:01] hupili commented on #5
@zhangjingwei0512 , you're right. The error means no JSON can be parsed. Can you check the output of `response.text`? You need first to make sure the response is a valid JSON object, before using `.json()` function to parse it into Python's internal data structure.

[2018-09-02 14:04] hupili commented on #5
@zhangjingwei0512 I just checked the URL you are using ( [exampe](https://movie.douban.com/explore#!type=movie&tag=sci) ). It is not intended to parse as JSON. It returns an HTML page. You can use week-05's knowledge to handle the semi-structured scraping.

For week-04, we rely on HTTP API that returns JSON object. Example APIs from douban are given here: https://github.com/hupili/python-for-data-

[2018-09-02 14:05] #15 closed

[2018-09-02 14:12] ChicoXYC commented on #11
@hupili  sorry, what did you mean? what should I do?

[2018-09-03 00:13] hupili commented on #11
This issue is assigned to myself. It is for my own notes.

[2018-09-03 04:15] ConnorLi96 opened #22 "Questions and Feedback for Chapter 04"
## Feedback

* Just partial feedback. I suppose we can add notes in the part “csv_reader” in week 04, because fresh learners may don’t understand the difference between virtual environment and their computer devices. If they just download the ‘name_list.csv’ , it cannot be found in terminal or jupyter notebook, then there will be FileNotFoundError. Thus, we can note that: “Before you operate this

[2018-09-03 11:42] hupili opened #23 "How to change default branch for GitHub pages?"
redirected from: https://github.com/Lsn-cecilia/homework2/issues/1

[2018-09-03 11:44] hupili commented on #23
@Lsn-cecilia , please go to "Settings --> Options" and find follow configuration area.

<img width="837" alt="screen shot 2018-09-03 at 7 43 03 pm" src="https://user-images.githubusercontent.com/1227160/44985109-b412c000-afb1-11e8-90c6-abefcf32bc51.png">

[2018-09-03 11:47] #23 closed

[2018-09-03 15:25] hakutoccino opened #24 "a little question"
In Example 6, there are lines following:

[0] is False

However, in my and my Python's opinion, the result should be true. Am I right?

[2018-09-03 15:59] ChicoXYC commented on #24
@hakutoccino @hupili My fault, this is `true`, someone also gave me this feedback, thanks!!!
the reason why its true is because `test` is a list which has a value - 0, it's not equal to 0, or none or empty.  It has a true value, thus, its true. hope this can help you better understand!

[2018-09-04 08:35] #24 closed

[2018-09-04 08:37] hupili commented on #5
An additional note: you need to check the `response` object before doing further processing. `response.code`, `response.text`, `response.content` are useful.

[2018-09-04 08:38] hupili commented on #5
https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

[2018-09-04 08:53] hupili opened #25 "Chapter 10 Working Thread - text data"
* [x] @ChicoXYC - organise the text, time series, graph notes from S18
* [x] @ChicoXYC - flight route map example from S18 final project.

[2018-09-04 08:54] hupili opened #26 "Chapter 11 Working Thread - machine learning primer."

[2018-09-04 14:35] zhangjingwei0512 commented on #5
@hupili Thanks for your answer,however,I still have one further question about this.
![3](https://user-images.githubusercontent.com/42828228/45037169-f6f79500-b090-11e8-8dc6-98302540df5b.PNG)

This is the example you show us,and I wonder why it can generate JSON files successfully,
I noticed that if using api_url instead of url,I mean changing the code into response=requests.get(api_url),
the pyth

[2018-09-04 14:44] hupili commented on #5
Reopened. I think we need to elaborate week-04 notes. @ChicoXYC please help first and pass to me if unsolved. I just re-read the codes and find following improvements are needed:

* [ ] Use string templating instead of string concatenation -- remember best practice -- or it is hard to change their first impression later on.
* [ ] Demo `count` first and then demo `query`. One principle of the open

[2018-09-05 15:33] hakutoccino opened #27 "a little question"
in the Example 13:

8 #returns the first character where 'you' begins

Is that should be 8? I think it may be 14 instead?

[2018-09-05 15:58] ChicoXYC commented on #27
@hakutoccino thanks so much! You are right. The correct answer is 14.
Kindly remind, next time, please specify which chapter so that we can communicate more effectively. Thanks again.

[2018-09-06 02:48] ChicoXYC commented on #5
@zhangjingwei0512
Firstly, different organizations and websites have their own rules for using API.

For this earthquake API, you cannot just request all data from this original API link(api_url), they just give you a hint that you should format your API based on this original API. Therefore you need to specify which region, what period of time of data you want.

It's like declare what content/dat

[2018-09-06 02:50] ChicoXYC commented on #5
@hupili update
- seperate two request method
- give more explanation of API
- give more explanation of extract data we want
- Change API formating

[2018-09-06 04:27] rippleYJH opened #28 "Minor Problems in Week5"
1. It is better explain to students Jupyter notebook would not present results on the screen except using "print()" command or type the variable in the new line. May causing confusion if we dont mention it.

2.   my_urls = data.find_all('a',attrs={'class':'post__title-link js-read-more'})
I am wondering why the value here is 'post__title-link js-read-more'? I only inspect this: <a class="post__tit

[2018-09-06 08:50] ChicoXYC commented on #28
@rippleYJH Thanks so much!  Always express what may puzzle you and give a clear explanation of the questions, that's what we need in conversation. @ConnorLi96 Are you having the same problem? @hupili Hope I explain those clearly.

1. I add this note about `print` issue in Jupyter Notebook chapter, I guess students are easy to overlook to click into it. Therefore I added in chapter 4 again.  Basica

[2018-09-06 09:08] Fiiiiiiish opened #29 "How to create a file in "example" repository"
# Troubleshooting

## Describe your environment

* Operating system:mac os
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
* Which chapter of book?:week00

## Describe your question

week00- gh desktop
How to create a file in "example" repository after create a new repo.
don't understand the "drag"part.  _Thank you!_

<img width="959" alt="2018-09-06 17 07 04" sr

[2018-09-06 09:32] ChicoXYC commented on #29
@Fiiiiiiish
1. make sure you download the text editor - visual studio code.
2. Find the repository/folder you just created, you can click `open this repository in finder` to know its file path. After you find the folder, drag the repository/folder into the text editor.
3. create a new `.md` file by the text editor, and write several words in it and save it.

[2018-09-06 10:54] kaiwenxu94 opened #30 "Instructions of Installing Jupyter Notebook on Windows"
### How to install virtual environment and Jupyter Notebook on Windows
**Trouble description**
The Jupiter tutorial(module-jupyter.md) lacks instructions for Windows 10 users like me, and yesterday it took me almost two hours to figure out how to install virtual environment and Jupyter Notebook on my laptop, as the codes to input are different than those in Linux. Hence, I have written down the in

[2018-09-06 17:27] ConnorLi96 opened #31 "Feedback & Questions in Week5"
I have to admit that this chapter is really more difficult, but also useful, which help me to build logic thinking for scraper and how to achieve it in practical application step by step. The feedback and questions are listed below according to chapter order.

**1. In Get data:**

(1) You seem to have lost the underline in```my_title = myh1.text``` . Without underline '_', this code will face Name

[2018-09-07 02:08] ChicoXYC commented on #16
@hupili update

[2018-09-07 02:31] #28 closed

[2018-09-07 03:51] ChicoXYC commented on #31
@ConnorLi96 thanks so much. The following are the explanation about the question you ask.

1. add an explanation of type sth. see details 8177122.

2.

(1) All data or information is stored in the HTML tags. Tag names are settled by the website creators, which always appear as pairs. So, all we need to do is to find the tags that contain our required data. For example, the article titles are usual

[2018-09-07 05:44] hupili commented on #16
**BCP**: refrain from text processing if possible, especially in the upstream of data processing pipeline.

After you get the `tr`, you can further find `td`, locate the second `td` and further find the list of `span`s. This way is more stable. The major problem of splitting text is that the delimiter may also appear as part of the text content.

<img width="620" alt="html-find-authors2-output" sr

[2018-09-07 05:45] hupili commented on #16
Please present the BCP as primary solution and this text-split as an alternative for people to compare.

[2018-09-07 10:29] hakutoccino commented on #27
@ChicoXYC welcome! sorry I forgot that _(√ ζ ε:)_

[2018-09-07 10:29] #27 closed

[2018-09-08 13:05] ChicoXYC commented on #16
@hupili update bf96a92.

[2018-09-08 14:35] kaiwenxu94 opened #32 "Install Python3 on Windows and Set Environment"
1. Click [here](https://www.python.org/ftp/python/3.7.0/python-3.7.0.exe) to download Python 3.7.
2. Remember to choose 'Customize installation' and click 'pip' when you are installing python. If you install the default version, you cannot import 'numpy' module in week2.
![image](https://user-images.githubusercontent.com/42831899/45255308-2111c580-b3b7-11e8-8371-82c3b687956d.png)
![image](https://

[2018-09-09 03:07] NicoleZZC commented on #30
<img width="240" alt="default" src="https://user-images.githubusercontent.com/42857182/45260684-4555bc80-b420-11e8-8b71-b2bbb0f1bf41.PNG">
Help! why it comes the info above when I tried to create the virtual environment?

[2018-09-09 03:47] NicoleZZC commented on #30
Got it! THX @ChicoXYC

[2018-09-09 10:45] Zmh951010 commented on #32
Also I have something to add:
1. when choosing the version of Python, Win10 ×64 bit users can find the relative version here
https://www.python.org/downloads/windows/
![20180702201304982](https://user-images.githubusercontent.com/42828826/45263653-05aec500-b460-11e8-82a8-9752322727d2.png)

2. When installing, we also need to check the "Add Python 3.7 to PATH"
![_20180909183813](https://user-images

[2018-09-09 10:57] ChicoXYC commented on #32
**Supplement:**

If you don't add Python version you install into PATH. When you type python in cmd, you will get the following error
[code]
or

[code]
 You can solve this problem by add the Python installation path to the environment variable. Please refer to this https://blog.csdn.net/MickeyMouse1928/article/details/70035747

[2018-09-09 14:14] hupili commented on #16
Looks good 👍 . Closing for now. Please note that BCP stands for "Best **Current** Practice"

[2018-09-09 14:14] #16 closed

[2018-09-10 03:11] #32 closed

[2018-09-10 03:11] #30 closed

[2018-09-10 03:12] #29 closed

[2018-09-10 05:52] hupili commented on #10
@ChicoXYC , let's discuss this in the next meeting. Please organise the materials in a way that we can easily identify:

1. The crawling target -- what output is expected? the data format wanted?
2. Their intermediary results -- what have they achieved?
3. [O] if there are some guesses of possible problems, what are they?

[2018-09-10 05:56] hupili commented on #32
@ChicoXYC ,  Once the discussion is organised into corresponding FAQs, please leave a link (better to section level) in the discussion thread before closing issue. In this way, future visitors can directly find the solution, without going through a long list of discussions

[2018-09-10 12:27] coolxu8888 commented on #32
No matter what, every block I saw, I tick it. LOL

[2018-09-11 08:56] AlexZenghuashan commented on #32
![_20180911164635](https://user-images.githubusercontent.com/42838093/45349190-39febe80-b5e3-11e8-9684-bc1cfbcec7af.png)
The Python3.7.0 is for windows(32-bit), mine is windows(64-bit) and i couldn't enter the set up page.

[2018-09-11 09:05] Zmh951010 commented on #32
@AlexZenghuashan you can go to this page
https://www.python.org/downloads/windows/
and find the correct version here:
![45263653-05aec500-b460-11e8-82a8-9752322727d2](https://user-images.githubusercontent.com/42828826/45349801-dc6b7180-b5e4-11e8-9f6d-b58c793b05cb.png)

[2018-09-11 09:14] Catmint1215 commented on #32
If you still can not download it, I can send the ".exe" to you directly.

[2018-09-11 14:51] AlexZenghuashan commented on #32
![image](https://user-images.githubusercontent.com/42838093/45354877-6e797700-b5f1-11e8-82b9-efedc36fb953.png)
I was told that windows services pack1 and all applicable updates are required to intall python3.70 (64bit), so i downloaded and installed all the things below.
![_20180911180236](https://user-images.githubusercontent.com/42838093/45367981-076db980-b615-11e8-9458-df3c6c02dead.png)
However

[2018-09-12 03:29] SerenaQYHuang commented on #16
There seems to be a typo in [week05 notes](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-05.md) (The part of HTML language) as follows
![image](C:\Users\Administrator\Documents\WeChat Files\thinmint\Files\screencapture_20180912112648.png)
Isn't a slash missing in the underlined part?

[2018-09-12 06:41] SerenaQYHuang opened #33 "CH05 Feedbacks"
* Operating system:windows
* Python version:3
* Hardware:
* Internet access:Y
* Jupyter notebook or not? Y
* Which chapter of book?:05

Feedback1:
 I got an Error when trying to install BeautifulSoup using the first codes mentioned as follows

<img width="228" alt="1536734298 1" src="https://user-images.githubusercontent.com/41979788/45406583-89072b00-b699-11e8-999d-7c3c7431589b.png">

The output

[2018-09-12 06:47] SerenaQYHuang commented on #33
I think there might be a typo here: the underlined text should be 'r' instead of 'resp'

<img width="687" alt="1536734815 1" src="https://user-images.githubusercontent.com/41979788/45406988-bbfdee80-b69a-11e8-889e-0fca0f6096f3.png">

[2018-09-12 08:05] ChicoXYC commented on #33
@SerenaQYHuang have you install pip before using pip to install bs4

[2018-09-12 08:42] SerenaQYHuang commented on #33
@ChicoXYC After I googled, I found out that I should install pip first. However, new learners may mistakingly think that the codes below are the installation solution. Perhaps it'll be better to state more clearly

<img width="424" alt="1536741595 1" src="https://user-images.githubusercontent.com/41979788/45413029-bb6d5400-b6aa-11e8-9a39-a2b10accd53b.png">

[2018-09-12 08:53] AlexZenghuashan commented on #32
I have tried all the versons above 3.0. None of them work for me. Finally, I found that python 2.7.12 is ok!

[2018-09-12 09:02] kaiwenxu94 opened #34 "An alternative way to calculate the break-even point of subscribed users to make profit in Example21 in Week3"
The Example 21 in Week3 tutorial is helpful for us to learn how the For loop works. But I also find that the same result can be achieved with the While loop as well. Below are the codes that I write to share with you guys for reference and suggestions. You can also check the results in nbviewer [here](http://nbviewer.jupyter.org/github/kaiwenxu94/hkbu-big-data-exercises-and-projects/blob/master/py

[2018-09-12 09:12] SerenaQYHuang commented on #33
Another Typo:

[code]

Line 2: `(url)` hould be `(article_url)`

[2018-09-12 09:14] SerenaQYHuang commented on #33
@ChicoXYC
[code]
No output for this piece of code

[2018-09-12 11:52] SerenaQYHuang commented on #33
@ChicoXYC

[code]

No output

[2018-09-12 14:11] hupili commented on #33
@SerenaQYHuang  is it because you used conda? conda users run `conda install xxx`.

[2018-09-12 14:13] hupili commented on #33
@SerenaQYHuang @ChicoXYC , can you add an FAQ page dedicated to conda? Most students will not experience this path if they follow our initial instructions to install Python3. Their installation will have `pip` or `pip3` by default. In case there are `conda` users, we let them know the difference.

[2018-09-12 14:20] iiiJenny opened #35 ".josn"
# Troubleshooting

## Describe your environment

* Operating system:os
* Python version:3
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
* Which chapter of book?:4

## there is nothing print out @hupili
![image](https://user-images.githubusercontent.com/42435100/45431224-cc818980-b6d9-11e8-9dbe-9e3219943a10.png)
![image](https://user-images.githubusercontent.com/42435100/45431263

[2018-09-12 15:36] hupili commented on #35
Please try:

[code]

Note that you read `int` from json, but previous conditional branch tested `str`.

[2018-09-12 15:53] hupili commented on #34
@kaiwenxu94 Good try!

A further challenge: try to scale up the parameters by a uniform factor, say `Fixed_Cost = 3000000`, `Content_Cost = 7000000` -- the resulting number of subscribers will scale up similarly. However, it takes much more time for your program to run. Can you scale up 1000x, or 1000000x? If it takes very long to get the result, how do you think you can improve?

[2018-09-12 15:58] #5 closed

[2018-09-13 02:01] iiiJenny commented on #35
![image](https://user-images.githubusercontent.com/42435100/45462804-05eae100-b73c-11e8-8679-7558a9371547.png)
Get it!

[2018-09-13 02:29] ChicoXYC commented on #35
@iiiJenny
Using traditional placeholder method `%s, d%` is good, but since we are learning a more efficient way `format.sting`. Please refer to [chapter 2 - format.string](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-02.md#strformat). The examples are pretty much similar to your problem.
The following are the three methods you can apply for. And

[2018-09-13 02:37] ChicoXYC commented on #33
ok @hupili . @SerenaQYHuang can you install by ` conda install xxx`?

[2018-09-13 02:37] iiiJenny commented on #35
Got it! thanks! @ChicoXYC @hupili

[2018-09-13 03:31] hupili commented on #35
@iiiJenny please post your final version + output result in fenced code block way, before closing. In this way, future readers will know where it went wrong and what is the correct solution.

[2018-09-13 03:33] hupili commented on #35
I also modified the issue title to make it more informative. Sometimes the initial issue is not a best description of the issue because we do not know the reason. After we solve it, feel free to revise the texts in issue title/ body, to better reflect the issue itself and to make the issue searchable by others who may meet similar problem.

[2018-09-13 03:46] iiiJenny commented on #35
the final version:

[code]

![image](https://user-images.githubusercontent.com/42435100/45465953-291c8d00-b74a-11e8-8306-992e7a933ee8.png)

you can also select following methods to print the results:
[code]
![image](https://user-images.githubusercontent.com/42435100/45466085-ad6f1000-b74a-11e8-994e-576bb629eaab.png)

[2018-09-13 10:44] SerenaQYHuang commented on #33
@ChicoXYC @hupili I use jupyter notebook under Anaconda. And I tried both but none worked

<img width="845" alt="1536835454 1" src="https://user-images.githubusercontent.com/41979788/45483941-08bdf400-b785-11e8-8043-4bcdb6a02c02.png">

<img width="853" alt="1536835388 1" src="https://user-images.githubusercontent.com/41979788/45483903-e6c47180-b784-11e8-8bd7-f11831f881aa.png">

[2018-09-13 11:30] hupili commented on #33
it’s

 !conda install

! is to issue shell command

[2018-09-14 08:10] SerenaQYHuang commented on #33
As follows...the codes seem to be correct

<img width="688" alt="1536912566 1" src="https://user-images.githubusercontent.com/41979788/45538060-96a6e700-b838-11e8-8e91-76370e9ec334.png">

[2018-09-15 14:47] ConnorLi96 opened #36 "Feedback for Chapter06"
## Before Feedback

Obviously, with further learning, the difficulty of our open book also increases gradually, especially in this Chapter, since there are many knowledge that we have not been touched before, such as Xpath, Selenium, CSS, etc. I really recommend other learners to obtain simple definition about this terms, which can help us to study effectively. Besides, sincerely thanks a lot for

[2018-09-16 07:15] coolxu8888 opened #37 "question about array"
![image](https://user-images.githubusercontent.com/42830310/45593877-612e0500-b9c2-11e8-932d-b623d862355a.png)
In the image, why is the highlight part '1,2,4' as a result of print? How come the result?
And I'm not quite understand 'Similarly, the first number is to index elements in this array, the second number is to index the sub-elements in each elements', could anyone help me out?

[2018-09-16 09:02] iiiJenny commented on #37
@coolxu8888
![image](https://user-images.githubusercontent.com/42435100/45594590-29c65500-b9d0-11e8-88b1-bc53d67518a4.png)
* you can image it as a matrix with 2 rows and 3 columns, and the index of the fist number ' 1 ' is [0, 0] , which means in the first row & first column (The index of first element is 0, in other words, row index is 0, column index is 0) .  In a similar way, ' 2 ' means in the

[2018-09-16 11:03] coolxu8888 commented on #37
Got it! Thanks!

[2018-09-16 11:03] #37 closed

[2018-09-16 19:29] kaiwenxu94 opened #38 "Week 3 Feedback"
1. The outputs in Example4 should contain no parentheses and no quotation marks.
![image](https://user-images.githubusercontent.com/42831899/45600051-0d0a3b80-ba29-11e8-9d33-df1227c51418.png)
Below is the right version:

	x!=y: True

2. Remember to add parentheses, and list2[1:5]means slicing list2 from index1 value to index5 value but does not include index5 value. Also, list2[:2] means slcing li

[2018-09-17 02:51] ChicoXYC commented on #38
@kaiwenxu94  thanks a lot. I will modify right now.

[2018-09-17 03:28] hupili commented on #17
@ChicoXYC , have you met any rate throttling issues so far? i.e. crawling too fast to get error response; if you slow down, things become normal.

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#rate-throttling

[2018-09-17 03:57] ChicoXYC commented on #38
@kaiwenxu94 there are some issues
Q4.
![person dict](https://user-images.githubusercontent.com/37010763/45605332-e7078a00-ba6e-11e8-94b5-3b4eff35c324.jpg)
you can add a new item by creating a new key with its value.  I guess you got `key error` is because you type the wrong dict name. the dict here is `person_dict`

Q6. I've been already deleted this example days before, because its wrong.

First

[2018-09-17 03:59] ChicoXYC commented on #38
@hupili OK, I will pay more attention.

[2018-09-17 10:16] hupili commented on #17
@ChicoXYC , please pick a few recent examples and see if there is any error if you don't add a pause between requests. We need some sample errors with screenshots for that section.

[2018-09-17 11:18] kaiwenxu94 commented on #34
@hupili I wonder if buying a 16G memory-chip helps. But I think we can improve the programming. Here is my idea:
Instead of calculating the break-even point by adding only 1 to the 'subscribers' parameter each time in a loop, we can scale up the step width, say, adding 10000 each time in the loop:
`subscribers=subscribers+10000`
Once the net income becomes greater than 0, the loop breaks. Then let

[2018-09-17 11:46] hupili commented on #34
Excellent! You are touching the door of "algorithm" now.

Can you put the "basic solution" and "optimised solution" in one notebook and use `%%time` to measure their efficiency given same scale of parameters?

You can refer to this example: https://github.com/hupili/python-for-data-and-media-communication/blob/master/jupyter-notebook/timeit.ipynb

[2018-09-18 02:01] ChicoXYC commented on #36
@ConnorLi96 good. thanks for your summary, that's all the tricky parts and its good to put those study notes and discussion here.

The reason I didn't put the find elements ahead of navigating part is that I just want to show you what selenium can do and what browser emulation can do. After this part, we can step further to learn more like how to find elements. If I just put the find elements in t

[2018-09-19 08:05] zhangjingwei0512 commented on #33
@hupili When I do the further exercise 2 ,I find some questions.
I run the code https://github.com/zhangjingwei0512/chapter5/blob/master/further2.py  three times，
each time I get a different answer(https://github.com/zhangjingwei0512/chapter5/blob/master/further2.csv ，https://github.com/zhangjingwei0512/chapter5/blob/master/further2%EF%BC%881%EF%BC%89.csv，
https://github.com/zhangjingwei0512/chapt

[2018-09-19 09:44] hupili commented on #33
please open a new issue for this question. Let’s make the topic threaded. I’ll check later at home

[2018-09-19 12:02] hupili opened #39 "Scraper yields different results upon execution"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?: ch5

## Describe your question

Following are some permalinks for codes and data.

https://github.com/zhangjingwei0512/chapter5/blob/8981ed72e972d0a458adbbc6898f5def55cef9ce/further2.py

https://github.com/zhangjingwei05

[2018-09-19 12:02] hupili commented on #33
@zhangjingwei0512 , we moved to this thread: https://github.com/hupili/python-for-data-and-media-communication-gitbook/issues/39

[2018-09-19 12:04] hupili commented on #39
@zhangjingwei0512 , can you check the following two?

1. If you execute manually, will you get different result each time? e.g. just like when you refresh Facebook timeline, you get different result every time you login

2. For the different CSVs, how different are they? -- 1) totally different that you can even eye-sight one result is wrong by comparing to your browser review; Or, 2) minor differ

[2018-09-19 12:34] hupili opened #40 "Complete session F2018 team list"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/session-F2018.md

[2018-09-20 06:21] Catmint1215 opened #41 "A question about week-06"
# Week-06
![image](https://user-images.githubusercontent.com/42177490/45799200-423fb380-bcdf-11e8-93d3-4683d4fa2c3f.png)
In this part of week-06, it shows "by_link_text". But only when I change it to "by_partial_link_text", can it works.
![image](https://user-images.githubusercontent.com/42177490/45799347-c3974600-bcdf-11e8-9934-ec58c5fd05df.png)
I am confused about when should we use "partial".

[2018-09-20 09:41] ChicoXYC commented on #41
@Catmint1215  Good question, I think this is because the link text is changing in Google search.  I will update in the notes.

Basically, you can tell the difference by their names.
`link_text`: it returns elements with an **exact** match of the given text.
 `partial_link_text`: returns elements which **include** the given text.

For the example we demo, except the text we search, there is some ex

[2018-09-20 15:02] SerenaQYHuang opened #42 "CH06 Feedbacks"
[code]
For this piece of coded, the output shows:

![image](https://user-images.githubusercontent.com/41979788/45827494-1ea15b00-bd29-11e8-8feb-bc120f7d9a46.png)

It seems that the magic function doesn't work here

[2018-09-20 15:15] hupili commented on #42
that is for Terminal

In notebook, please prefix with ! instead of %

[2018-09-21 07:37] Catmint1215 commented on #41
Thanks a lot! 师兄~

[2018-09-22 16:13] hupili opened #43 "Chapter 0 - fork, modify, PR"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-00.md#the-workflow-fork-repo-modify-code-and-send-pull-request

@ChicoXYC you can use the recent update to the code repo as an example.

After adding back this TODO, I'll announce the further challenges/ exercises in week 00

[2018-09-22 16:15] hupili commented on #18
openrice PR: https://github.com/hupili/python-for-data-and-media-communication/pull/9

[2018-09-23 03:46] ChicoXYC commented on #40
@update

[2018-09-23 06:10] #40 closed

[2018-09-23 18:10] FLYSTEPHEN commented on #34
I think @kaiwenxu94 's method is really brilliant.Based on his practice, I figure out a more automatic and efficient way. Generally, it is +100000 circularly and then -10000 in the same way until +/-1:
[code]
However, as @hupili said, using bisection method(二分法) will be even more faster! Here I skip the The basic function and constants:
[code]
I'm not sure whether they are correct, please kindly g

[2018-09-24 04:58] hupili commented on #34
@FLYSTEPHEN very good try!

For the “time not stable” issue, I guess it is because the execution is too fast. In this way, execution overhead weighs most. You may want to wrap your solution logics into one function and repeat that function to get a more stable estimation —— this is statistics —— larger repetition reduces variance.

For correctness, you can simply verify the output of your new algo

[2018-09-26 03:46] hupili opened #44 "word frequency challenge based on ch3, and "in" operator of dict and list"
New challenge is added: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-03.md#simple-word-frequency

* [x] @ChicoXYC , I find the dict `in` operator missing. Please add to the corresponding section.

Welcome to paste your answers below!

[2018-09-26 03:48] hupili commented on #44
Hint: want a piece of text to test? You can use that markdown file. Use three quote notation for the block quote as shown here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-02.md#a-simple-model-of-media-monitoring

[2018-09-28 03:33] FLYSTEPHEN commented on #34
I have updated the [time test](https://github.com/FLYSTEPHEN/Chapter-2-time-/blob/master/ex2-4-cal_break_even_point_directly(%25%25time).ipynb) by repeating the functions for 100000 times. The gap becomes distinct! Thank you for your advice @hupili .

[2018-09-28 05:19] #38 closed

[2018-09-28 05:19] #41 closed

[2018-09-28 07:05] CathyChang1996 commented on #44
<img width="853" alt="2018-09-28 3 02 53" src="https://user-images.githubusercontent.com/41856250/46193120-9fff7b80-c32f-11e8-9807-9e0a17b6903a.png">
 **Have a try on this new challenge ~ but I have some problems in how to order the values in a dict.**

[2018-09-28 07:13] hupili commented on #44
@CathyChang1996 for manual implementation, you may try `sorted` or `list.sort` functions.

[2018-09-28 10:48] iiiJenny opened #45 "The step to get "twitter API" (week04)"
* Which chapter of book:week04

## Preparation：Twitter Account （highly recommend to use **Gmail Account** to Sign up!）
## Step 1
Go to https://apps.twitter.com/app/new and click 'Apply for a developer account'.
## Step 2
Choose “Personal use” & Enter your desired Application Name, Primary country (hk) and so on.
**_The most important is_** : Describe in your own words what you are buiding

![image

[2018-09-28 10:52] hupili opened #46 "Python linting and debugging"
Python is a dynamic language which makes error checking at compile time hard. Most error is exposed at run time. However, some tools can still help us to catch most of the errors and try to write best practice code. "Linting" is a general concept found in all programming languages that refers to the process to identify potential errors and suboptimal practices at the writing time.

[2018-09-28 10:52] hupili commented on #46
This plugin should help:

<img width="763" alt="screen shot 2018-09-28 at 6 49 29 pm" src="https://user-images.githubusercontent.com/1227160/46204371-9e45b000-c34f-11e8-890e-f503e49511d0.png">

[2018-09-29 16:36] lullabymia opened #47 "list index out of range"
# Troubleshooting
I wrote this programme to allocate cases for each five students. But it seems something goes wrong with the index on the line " print(list2[s])" and "print(list1[c:c+5])". How can I give value 0 to s and c, also change the values each time.

student_list =[
18421111,
18421112,
18421113,
18421114,
18421115,
18421116,
18421117,
18421118,
18421119,
18421120,
18421121,
18421122,
1842

[2018-09-29 16:59] kaiwenxu94 commented on #34
@FLYSTEPHEN Thank you! I also learned a lot from your codes!

[2018-10-01 10:58] ChicoXYC opened #48 "issues about installing jupyter in CVA517"
[Here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-jupyter.md) are the instruction of how to install jupyter generally, we typing following command to create virtual environment then install all dependencies and modules. But in lab, there are some problem:

[code]

<img width="697" alt="screen shot 2018-10-01 at 6 28 09 pm" src="https://user-images.

[2018-10-01 16:57] ChicoXYC commented on #47
@lullabymia

you are right till this loop `for s in student_list:`

Translate this into natural language, you want to create a loop list of students. In this case, we can easily know its 5 each. Therefore it should be grouped like this [0:5] ,[5,10],[10,15]....[45,50]. I guess you've already found what's happening here. It increases with 5 intervals, therefore we can use `[5*i:5*i+5]` to replace a

[2018-10-02 02:57] ConnorLi96 commented on #47
@lullabymia If you want to divide in 17goups with total 1000 students, how to write the loop and how to assign the extra member? This question is related with a condition that the number of students cannot be divided by the number of cases, which looks so complicated. But do not feel scared. Actually, when we face some complex problems, there is a thinking strategy 'Divide and conquer'. Divide you

[2018-10-02 03:06] ChicoXYC commented on #47
@ConnorLi96 excellent!!! @lullabymia if you still have questions, just leave your comment

[2018-10-02 10:58] hupili commented on #47
@ConnorLi96 , please see if you can further appreciate this:

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/computational-thinking.md#recursion-implementation

[2018-10-02 14:02] ConnorLi96 commented on #47
@hupili Amazing!! This question once puzzled me for 8 hours, you just write 3 lines to handle it. This code gave me a lot of inspiration. Thank you so much for your sharing!

[2018-10-03 16:39] kaiwenxu94 opened #49 "A question about the codes to extract article url in week5 - [improve: list slicing]"
For the example in week5 which extracts all article urls in http://initiumlab.com, all the tags including the article urls have been collected like below
![image](https://user-images.githubusercontent.com/42831899/46424907-f83ddf80-c76c-11e8-82ea-7b64b22804a7.png)

Next, we need to get the strings after 'href' (e.g.'href="../blog/20170113-Sharing-With-Friends-Versus-Strangers/"'), and the codes ar

[2018-10-04 04:35] hupili opened #50 "Broken paths after moving the images"
one example:

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-python-twitter.md

<img width="574" alt="screen shot 2018-10-04 at 12 35 40 pm" src="https://user-images.githubusercontent.com/1227160/46453073-040fbd00-c7d2-11e8-830c-f32a3878eb71.png">

[2018-10-04 04:47] hupili commented on #18
@ChicoXYC , I just find the [notebook](https://github.com/hupili/python-for-data-and-media-communication/blob/a5985d4bf42ad91536c04c6e2f936118194d44df/scraper-examples/open_rice/openrice_sample.ipynb) contains an exploded row:

<img width="967" alt="screen shot 2018-10-04 at 12 38 59 pm" src="https://user-images.githubusercontent.com/1227160/46453304-703ef080-c7d3-11e8-8fe2-d9a464b2ae01.png">

Is

[2018-10-04 04:52] hupili commented on #18
Two more fields are needed for the dataset: @ChicoXYC include the URL and POI ID of each restaurant into the 20K dataset.

I also added this to the checklist in the issue body.

By POI ID, please see this annotation:

<img width="572" alt="screen shot 2018-10-04 at 12 48 54 pm" src="https://user-images.githubusercontent.com/1227160/46453401-ef342900-c7d3-11e8-90a6-3e19fff534ec.png">

It is always

[2018-10-04 05:30] ChicoXYC commented on #18
Its an error, not designed.

[2018-10-04 05:33] ChicoXYC commented on #18
OK, noted

[2018-10-04 06:11] ConnorLi96 commented on #49
@kaiwenxu94 Actually, [2:] is not a function, just a "list slicing". You can try to change the number whatever you want, and observe what happen. Such as [1:15], [2:10],[3:6],etc. Below is a detailed explanation about "list slicing", you can check it. Hope you find my responses useful.
[https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-03.md#common-fe

[2018-10-04 10:00] hupili opened #51 "Refactor FAQ"
This is an FYI issue. @ChicoXYC can close after reading through.

The structure of FAQs are refactored. The file `frequently-asked-questions.md`, despite the name, collects "other" FAQs that we have not found a proper place yet. The catalogue is the conventional entry point.

https://github.com/hupili/python-for-data-and-media-communication-gitbook#faq-catalogue

[2018-10-04 10:07] hupili commented on #51
This is how you can search within the book.

https://github.com/hupili/python-for-data-and-media-communication-gitbook/search?q=encoding&unscoped_q=encoding

[2018-10-04 11:11] hupili commented on #17
Anti crawling and common issues will be left for continuous development. @ChicoXYC I'm moving this to testing stage. I know Chenxi has learned this before (and already handled a large dataset crawling). Once another 2 helpers confirm finish/ send feedback, we can announce the release of this note.

[2018-10-04 14:14] hupili commented on #48
[code]

@ChicoXYC , based on your notes, does the above work in our lab in a copy-and-paste manner?

[2018-10-05 03:43] CathyChang1996 commented on #44
<img width="863" alt="2018-10-05 11 38 51" src="https://user-images.githubusercontent.com/41856250/46514922-6086e100-c893-11e8-8817-159f0feacbd6.png">

This might work, but there still are some numbers can't be in line.

[2018-10-05 08:12] ChicoXYC commented on #48
The following will work
[code]

[2018-10-06 02:58] FLYSTEPHEN opened #52 "A Hyperlink Problem in Chapter 6"
In '[Bonus: Other quick scraping/ crawling tricks](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#bonus-other-quick-scraping-crawling-tricks)' Chapter 6, The URLs of the 2 hyperlinks are same.
<img width="925" alt="screenshot_2018-10-05_at_11 18 54" src="https://user-images.githubusercontent.com/42834869/46566713-bff9f500-c956-11e8-914a-2b1f7

[2018-10-08 12:48] ChicoXYC commented on #50
@hupili  Update. Also checked out and fixed other files.

[2018-10-09 02:15] #50 closed

[2018-10-09 04:00] ChicoXYC commented on #44
@hupili what do you mean

For the challenge:

[code]

Output：

[code]

[2018-10-09 04:21] rippleYJH opened #53 "comments on Chapter7 - [improve: better narrative/ elaboration]"
1. If we do not define the bins when using hist() function, it seems I can not get a distribution image. So do we need to always define the bins by ourselves?
![image](https://user-images.githubusercontent.com/42017792/46645585-2467bf00-cbb8-11e8-97d6-b578b540ee12.png)

2. Do we need to define the key and value in mapping function? If we have vast sum of data, how could we be more convenient to cl

[2018-10-09 04:33] rippleYJH commented on #53
Like this:
![image](https://user-images.githubusercontent.com/42017792/46646887-706a3200-cbbf-11e8-921c-95e9a6445a69.png)

[2018-10-09 05:28] ConnorLi96 commented on #53
@rippleYJH If  I don't define the bins, I also can get image, but need some time and the python will be launched automatically. Maybe you can try again, or try other elements, like 'price' or  'style'.

[2018-10-09 06:15] rippleYJH commented on #53
Right! I refreshed three times and finally got the image, maybe due to the slow processing speed. Good to know and thanks for your advice! @ConnorLi96

[2018-10-09 10:10] hupili commented on #53
@rippleYJH can you also try to place the following in the beginning of the notebook?

[code]

This instruction allows Python to plot onto Jupyter's web page directly (a.k.a. inline). It was default behaviour in some versions but the recent update of Jupyter changed this behaviour. Putting this in the front cell may help to alleviate the problem.

[2018-10-09 13:13] rippleYJH commented on #53
Yes it actually works! Maybe we can also have a reminder in the openbook. thanks :)

[2018-10-09 14:58] hupili commented on #53
@ChicoXYC , @ConnorLi96  token is on you now. The other questions should be straight once you are familiar with the functions.

[2018-10-10 03:32] ChicoXYC commented on #43
Update
d5efce6 & e1b0c35

[2018-10-10 03:36] ChicoXYC commented on #18
@hupili
- update 30ks dataset with two more fields, link and poi_id
- pandas basics

[2018-10-10 03:37] ChicoXYC commented on #44
@hupili  is it ok with the example I did above? if so, I will add in the notes.

[2018-10-10 07:53] hupili commented on #43
@ChicoXYC Let's try to make a complete example using the current book repo. (the last screenshot about Pull Request at present is on the code repo).

[2018-10-10 07:54] hupili commented on #43
@ChicoXYC you have direct write permission of this repo, so you can make the "artificial example" yourself. Just create a PR, send and merge all by yourself.

After the revision of this section, we'll invite some helpers to test the workflow by contributing certain content.

[2018-10-10 08:01] hupili commented on #44
@ChicoXYC  Please add sections related with `in` operator for both list and dict. It is a common operation to decide whether an element is in the collection or not.

As to your above example, it is the answer to the challenge (and our upcoming bridging assignment). Just keep it here and we can link from the exercise section to that comment later. To avoid direct copy-and-paste solution to the brid

[2018-10-10 09:17] hupili commented on #18
The content density of this one looks appropriate. You start to get the feel. I place some TODO markers in the ch7's file. Please revise.

[2018-10-10 10:05] ChicoXYC commented on #43
update! ef55569

[2018-10-10 10:10] #43 closed

[2018-10-11 10:33] ChicoXYC commented on #44
@hupili a9b4d76
- add `in` operator on list & dict. I found there is no much example or usage I can cover now, so I mentioned that in dict, we can use `in` operator to do more and refer to the challenge you give.
- fixed typo

[2018-10-11 11:51] #44 closed

[2018-10-19 04:30] FLYSTEPHEN opened #57 "Ch6 Feedbacks - [improve: partial link & scroll]"
- In this section [#advanced-all-pages](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#advanced-all-pages)
the second line from the bottom `df = pd.DataFrame(articles)` may should be `df = pd.DataFrame(all_page_articles)`, otherwise the variable `articles` cannot be found.

- In this section [#navigating](https://github.com/hupili/python-for-

[2018-10-19 18:08] efncij opened #58 "The problem about assignment0"
<img width="459" alt="_20181020020543" src="https://user-images.githubusercontent.com/42829112/47235812-bf5c6680-d40c-11e8-95da-1885a736aa0f.png">

I wrote this but it can not be run. Can someone tell me how to amend it? Thanks!

[2018-10-19 18:28] hupili commented on #57
👍   partial link is a good point!

It is better to revise the script so that we don't rely on texts. There is a potential loophole about text -- text shown differently with different language system. It is better to find by id or by class

[2018-10-19 18:29] efncij commented on #58
I ran it, but there is no reflection.

[2018-10-19 18:39] hupili commented on #58
from what I can see, you only defined the functions via `def` without executing them. In this way nothing will be trigger (the function body will note be actually executed unless you call them like`lineprocess()` in aonther cell).

[2018-10-22 06:55] yaonuan1995 opened #59 "Question about assignment0"
f = open("trade-wars-news1.txt","r+")
content1 = f.read()
f.close()
g = open("trade-wars-news2.txt","r+")
content2 = g.read()
g.close()
h = open("trade-wars-news3.txt","r+")
content3 = h.read()
h.close()
i = open("trade-wars-news4.txt","r+")
content4 = i.read()
i.close()
j = open("trade-wars-news5.txt","r+")
content5 = j.read()
j.close()

A = str.split(content1)
B = str.split(content2)
C = str.spl

[2018-10-22 06:57] ChicoXYC commented on #58
@efncij have you solved the problem?

[2018-10-22 17:09] hupili commented on #59
@yaonuan1995 , the screenshot is lost, maybe due to the service interruption of GitHub this afternoon. Also, you may want to reformat the text into code block, or else the indentation is lost. See [this section](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-00.md#code-block--syntax-highlighting)

[2018-10-22 17:12] hupili commented on #53
@ChicoXYC , for the clarification questions, please try to see how to improve our presentation of the book.

[2018-10-22 17:16] hupili commented on #49
@ChicoXYC , list slicing is worth a subsection, just like the `in` operator. I have given more demo, e.g. `a[-1]`, during the class. Those fundamental could be useful in the long run. [Here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/leetcode.md#list) is a leetcode question that list slicding could be very useful.

[2018-10-22 17:16] #51 closed

[2018-10-22 17:17] hupili commented on #51
@ChicoXYC I'm closing. Please make sure you have read through the messages. This matters for the way we organise FAQs in the future.

[2018-10-22 17:20] hupili commented on #34
@FLYSTEPHEN , @kaiwenxu94 , you are ahead of the crowed and clearly possess a potential to further develop algorithmic thinking. You can try [leetcode](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/leetcode.md) and discuss in our #leetcode Slack channel. I'm closing this issue now.

[2018-10-22 17:20] #34 closed

[2018-10-23 03:45] ChicoXYC commented on #57
@FLYSTEPHEN thanks a lot. Yes, find elements by partial_link is easier, but if there are links that have similar link text, it will be a little bit confusing. But generally, its good.

[2018-10-23 04:13] yaonuan1995 commented on #59
Thanks!!!

[2018-10-24 15:22] ChicoXYC commented on #18
@hupili
* finish all to-dos
* add data cleaning exercise

[2018-10-24 17:04] hupili commented on #18
@ChicoXYC need to change [this](https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/58315803dcb9c7d2507c9eddb497cf06eac86114#diff-a61fa44b17203213878070a50bfa7a97R817) to our code repo once the PR is merged. After that, this working thread is good to close. Let's keep working on more data cleaning cases.

[2018-10-25 15:02] SerenaQYHuang opened #61 "CH07 Feedback"
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:07

## I've got an issue with the following piece of code:
[code]
 ### First, 'df' is not defined. I considered the possibility of a typo, and I tried inputting like:
[code]
### then I've got a TypeError: <sort_values() got an unexpected keyword argument 'by'>

[2018-10-31 12:19] #18 closed

[2018-10-31 13:37] ChicoXYC commented on #19
Oct 31th
* [ ] @ChicoXYC update Variance,Skewness,Kurtosis
* [ ] @ChicoXYC distribution & filter
* [ ] @ChicoXYC Calculate basic correlation

[2018-10-31 13:45] ChicoXYC commented on #19
@hupili
I have some problem to ask for help, thanks in advance:
1. do I need put the `advanced` correlation part (better vasualization part and filter the outliers in the graphs) of the last semester demo into notes?

2. don't really know why the `rank` results is like this, though I checked out the `series.rank function`. Dose it shoud be the rank of the scores? in that case, what does those valu

[2018-10-31 13:48] ChicoXYC commented on #19
1101
* [ ] @ChicoXYC  The last todo in this phrase: Cross-tab and correlation.
@hupili Is there anything that has higher priority? please let me know.

[2018-10-31 17:57] hupili commented on #19
Yes, as bonus section. The highest priority is to tidy up past materials. If they are too advanced, I can move and edit. But don't miss out, or we lose track of the content.

You can make a simpler Series yourself and observe the result. It is easier to observe smaller ones than the large dataset.

[2018-10-31 17:58] hupili commented on #19
@ChicoXYC , you can list out all pending TODOs regarding ch8 first, so I can evaluate the priority.

[2018-11-01 03:27] Shinonomee opened #62 "A question about Booking scraping"
from selenium import webdriver

browser = webdriver.Chrome()
browser.get('https://www.booking.com/searchresults.zh-cn.html?aid=378266&label=booking-name-IquAp*EbiLS6jPVl_he8yQS267778093594%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg%3Afi%3Atikwd-65526620%3Alp9061634%3Ali%3Adec%3Adm&sid=75a6a10fd83d509dc44f2bc75e94dc31&checkin_month=9&checkin_monthday=12&checkin_year=2019&checkout_month=9&checkout_month

[2018-11-01 03:39] ChicoXYC commented on #61
@SerenaQYHuang
1. the first one is just an example of how to sort values of dataframe, its similar like sort values of series , its just `a syntax example`.
2. replace the csv url ink to `raw link` should be fine. Update in notes.
url="https://raw.githubusercontent.com/hupili/python-for-data-and-media-communication/master/scraper-examples/open_rice/openrice_sample.csv"

Thanks  a lot!

[2018-11-01 04:18] #59 closed

[2018-11-01 04:43] ChicoXYC commented on #62
@Shinonomee I think its mainly because you write wrong css selector
<img width="504" alt="screen shot 2018-11-01 at 12 31 38 pm" src="https://user-images.githubusercontent.com/37010763/47832776-55f83280-ddd2-11e8-9ba2-40ba0de2dc31.png">

from outter to inner, upper to lower
the line you wrote is wrong with level`('#hotellist_inner.hotellist sr_double_search').

@hupili there is a problem about css

[2018-11-01 06:18] SerenaQYHuang commented on #61
Problems solved. Thank you so much Chico!

[2018-11-01 07:19] Shinonomee commented on #62
from selenium import webdriver

browser = webdriver.Chrome()
browser.get('https://www.booking.com/searchresults.zh-cn.html?aid=378266&label=booking-name-IquAp*EbiLS6jPVl_he8yQS267778093594%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg%3Afi%3Atikwd-65526620%3Alp9061634%3Ali%3Adec%3Adm&sid=75a6a10fd83d509dc44f2bc75e94dc31&checkin_month=9&checkin_monthday=12&checkin_year=2019&checkout_month=9&checkout_month

[2018-11-01 07:35] ChicoXYC commented on #61
@SerenaQYHuang thanks a lot. update

[2018-11-01 14:22] ChicoXYC commented on #19
@hupili Update. All issues related to chapter 8 has been update. If there is anything need further modified, please let me know.
- [ ] Cross-tab and correlation
- [ ] Tidy up past materials

[2018-11-02 02:15] yaonuan1995 opened #63 "A question about scraping"
I want to scrap the data from New York Times(https://www.nytimes.com/section/world). But when I finished, I found that I can just scrap 59 entries. However, when I got to the bottom of the website, there is a "SHOW MORE" button and we can see more articles after clicking the button. How can I scrap more data?
<img width="809" alt="2018-11-02 10 10 16" src="https://user-images.githubusercontent.com

[2018-11-02 03:29] SerenaQYHuang commented on #63
## Try the following steps:
### 1. Open the Chrome DevTools:

![image](https://user-images.githubusercontent.com/41979788/47892358-2f013580-de92-11e8-9e21-6de3b61b6abc.png)

### 2. Click the SHOW MORE button:

![image](https://user-images.githubusercontent.com/41979788/47892375-4a6c4080-de92-11e8-8278-2dab1b677b79.png)

### 3. Select the elements that appear and check their source codes

![image](

[2018-11-02 04:19] yaonuan1995 commented on #63
Sorry, it doesn't work...

[2018-11-02 04:40] SerenaQYHuang commented on #63
## One possible solution is as follows. Quoted from [here](https://stackoverflow.com/questions/48160554/using-python-requests-to-simulate-clicking-a-show-more-button)  by [Ron Norris](https://stackoverflow.com/users/8093469/ron-norris)

[2018-11-03 03:54] lullabymia opened #64 "How to scrape more than one page in a more efficient way"
I tried to scrape 10 pages from douban and only find this stupid way(define a function called scraper and change the url every time). But is there a better solution?
 I googled it and found a way to import **scrapy** but found it too difficult to understand.
<img width="668" alt="2018-11-03 11 45 52" src="https://user-images.githubusercontent.com/42403858/47947816-fe3b0200-df5e-11e8-8df2-14f191153

[2018-11-03 11:43] iiiJenny opened #65 "How to click "Next page" when scrap data by using selenium"
## Describe your environment

* Operating system:OS
* Python version:3
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:week6

## Describe your question
when I use selenium to scroll the window to turn page,  the position always went wrong and could not click the "NEXT PAGE".
Could someone help me! thanks! @hupili  @ChicoXYC

## The minimum code (snippet)

[2018-11-03 13:12] hupili commented on #65
@iiiJenny , does this solve your issue? https://github.com/hupili/python-for-data-and-media-communication/blob/901c125e80f7d1b295c005abfedd5fc1061b7efd/scraper-selenium/jd.com.ipynb

@ChicoXYC , please refer to my notebook and update the open book with the best practice. We don't need to do guesswork when scrolling. We can get the precise location of the element.

[2018-11-03 13:15] hupili commented on #64
@lullabymia There are several building blocks to optimise the codes:

- Use `for` and `range` to iterate over the `start` variable
- Use `str.format` to make the full request URL
- Use `list.extend` to concatenate the results in `for` loop

@FLYSTEPHEN  once demoed a similar case when crawling a job site. Can you also put the link here for other's reference?

[2018-11-03 13:18] hupili commented on #63
@yaonuan1995 what is your current code and intermediate results? It helps to give the link to your current notebook, so we can start from where you got stuck.

[2018-11-03 13:31] hupili commented on #62
`In[6] ~ In[18]` in [this notebook](https://github.com/hupili/python-for-data-and-media-communication/blob/314b2469290f28ed146b8d5c2e49be962e32e1d7/scraper-selenium/booking.com.ipynb) shows you how to get data from the booking.com page using CSS selector.

There are two points to note:

- When using `.className` notation, every class needs a prefix `.`: `.className1.className2.className3` (no blan

[2018-11-03 13:36] hupili commented on #61
Thanks @SerenaQYHuang ! Detailed orientation is highly appreciated.

Please help to proof-read when new notes come out. We need to make sure at least others have no problem following the notes in a verbatim way. Easy comprehension is the next layer of goal.

[2018-11-03 13:36] #58 closed

[2018-11-03 13:41] hupili commented on #57
@ChicoXYC , here are two TODO items:

- [ ] Change `find_element_by_link_text` to other more stable solutions
- [ ] Change `execute_script('window.scrollTo` to the better practice that I just demoed in #65

[2018-11-03 13:45] hupili commented on #48
@ChicoXYC , if this is merged into notes/ FAQ, you can leave a message and a link here. Then we can close the issue.

[2018-11-03 13:47] #47 closed

[2018-11-03 13:47] hupili commented on #45
@ChicoXYC , please leave a pointer here once it is merged into FAQ. Then we can close the issue.

[2018-11-03 13:48] #42 closed

[2018-11-03 14:01] hupili commented on #46
updated to FAQ. https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/pro-tips.md#the-python-linter

[2018-11-03 14:01] #46 closed

[2018-11-03 14:02] hupili commented on #46
@ChicoXYC  FYI -- how to conclude an issue so that people who jumped in this issue later on knows the result.

[2018-11-03 14:03] #33 closed

[2018-11-03 14:05] hupili commented on #33
Just a note @SerenaQYHuang @ChicoXYC , we keep only MAC solution in the main body of our open book, so people do not see many "if mac do this, elif windows do that" content. To accommodate Windows and Anaconda users, we can have FAQ docs.

[2018-11-03 14:28] yaonuan1995 commented on #63
<img width="648" alt="2018-11-03 10 23 56" src="https://user-images.githubusercontent.com/42726613/47953378-c9a76480-dfb7-11e8-9cc9-80e5b731486e.png">
This is my notebook before.
I have tried the solution from TA, but I found some mistakes of my computer. When I install selenium, I could not put the chromedriver to "/urs/bin". So, I want to know if there is any other solution to click the SHOW MOR

[2018-11-04 02:39] ChicoXYC commented on #65
@iiiJenny as we discussed yesterday, the reason is the web is dynamically loading, and you need to scrape 2 twice or 3 times to get the button. using `scrollIntoView()` function may be helpful for you. And also pay attention to handle the `find elements error`.
for your consideration:
https://github.com/ChicoXYC/exercise/blob/master/JD_Scraper.ipynb

[2018-11-04 02:42] ChicoXYC commented on #57
@our notes already include `find_elements_by_partial_link` with a example. I will check the other one.

[2018-11-04 02:52] ChicoXYC commented on #62
@ChicoXYC thanks a lot. It's much more clear now. @Shinonomee you can check out the above notebook for reference.

[2018-11-04 04:14] iiiJenny commented on #65
@hupili it works~ and I found that the location of 'next page' will change
![image](https://user-images.githubusercontent.com/42435100/47959659-98b14900-e024-11e8-9d3c-1d47145862d8.png)
@ChicoXYC thanks a lot~ but I still have a question. when I put def （function）behind the browser，it doesn't work.
![image](https://user-images.githubusercontent.com/42435100/47959680-1ecd8f80-e025-11e8-94ff-c51b23d

[2018-11-04 11:49] Shinonomee commented on #62
Thank you!!!!

[2018-11-04 12:20] hupili commented on #57
@ChicoXYC , I mean: put `find_elements_by_partial_link` as alternative; and use id or class as primary solution. The key point here is not "partial". It is "by text". We should not find by text, if `tag#id.class` works. Unless finding by text is the only solution, or other methods cause big inconvenience, we can use it as primary solution.

[2018-11-05 03:33] lullabymia commented on #64
<img width="754" alt="2018-11-05 11 25 21" src="https://user-images.githubusercontent.com/42403858/47976483-8ea74d00-e0ed-11e8-82e1-d4d0d44ed700.png">
I followed your instruction but encountered with another problem. When I print(data) outside the while loop, there is only the information about the last webpage. But it is whole data inside the loop.
Then I try to write a csv file inside the loop.

[2018-11-05 03:54] hupili commented on #64
`list.extend` in the loop can solve this issue. Passing to @ChicoXYC

[2018-11-05 06:16] ChicoXYC commented on #64
@lullabymia You've already found the problem, if you print in the `for loop` or `while condition`, it will only return the last. Two ways to solve the problem.

1. write csv in append mode.

[code]
this will append every page's data into this csv.

2. list.extend

[code]
Hope it will work for you, and please tell me whether it can be successful.

[2018-11-05 06:30] ChicoXYC commented on #57
@hupili in the google search navigating, there is only tag with no other attributes that can help to specifically locate the elements we want. I think in this case, the partial link is helpful. Students also need to learn other alternative solutions if there is no class name, id...

[2018-11-05 06:38] hupili commented on #57
I will do the following as primary practice:

- Search by class `g` to locate the search results.
- Use list slicing to get the first entry
- From the first entry (a div), search by tag `a` to find the link

[2018-11-05 06:44] ChicoXYC commented on #57
@hupili but if the result we want is between the results, like if there are 100 each page, and we have to find the location manually then use the list slicing to get the results, I think its a little bit more complicated compared with find elements by partial link.

[2018-11-05 06:46] hupili commented on #57
Partial link can be alternative. it is seldom used when you scrape real data. In this case, you just happen to know which link you want to click. In real scraping, navigating list is more common.

[2018-11-05 07:29] ChicoXYC commented on #63
@yaonuan1995 have you solve the questions? if not, please post your codes and questions here.

[2018-11-05 08:30] FLYSTEPHEN commented on #64
- You've already solve the problem. You can still refer to the [job-radar](https://github.com/FLYSTEPHEN/DJ-job-radar/blob/master/job-radar.py) to make your codes more reusable. You can also give your advice to help us improve.
In this case we use 2 variables: 'page_index += step' to replace 'i = i+1', so that we can handle different websites with one series of codes.
- BTW in @ChicoXYC 's comment

[2018-11-05 09:49] coolxu8888 opened #66 "How to solve the 'UnicodeEncodeError' and the messy code problem?"
here are my codes:
[code]

It runs ok, however, when you open the file in Excel, it goes wrong.

Before this problem,  I was soloving the unicode problem as follows:
[code]

after excuted, it goes:

I google it and they told me is about the decoding and encoding problem, but I tried to add a parameter'encoding='utf-8''. It still can't be open by jupyternote book which tells me the csv file is not

[2018-11-05 10:05] ChicoXYC commented on #66
<img width="981" alt="screen shot 2018-11-05 at 5 59 43 pm" src="https://user-images.githubusercontent.com/37010763/47991280-ae0d9c80-e124-11e8-8db3-879274b3513d.png">
@coolxu8888 you've done great job. The data is alright! `MAC OS's numbers` can open this file correctly.   I guess the the excel are not very supportive for the csv format. If you can see the file correctly display in GitHub, I thin

[2018-11-05 15:23] ChicoXYC commented on #62
@hupili update in notebook 7be520e. Other students can check out for more.

[2018-11-05 16:04] coolxu8888 commented on #66
nice~
I'm really crying

[2018-11-05 16:07] #62 closed

[2018-11-05 16:09] hupili commented on #57
I see from another thread that you used "scrollIntoView" to help someone solve the issue. This can also be added to the alternative area.

[2018-11-05 16:15] ChicoXYC commented on #57
@hupili Okay

[2018-11-06 02:00] lullabymia commented on #64
It worked like magic! Thank you! @ChicoXYC

[2018-11-06 04:21] Rita0719 opened #67 "I cannot find required number in the tag."
* Operating system:Mac os
* Python version:py3
* Hardware:mac pro
* Internet access:wifi
* Jupyter notebook or not? [Y/N]:y
* Which chapter of book?:5

I cannot find required number in the tag.
My dataset is about to scrape the top20 popular original works in main media genres on the AO3(https://archiveofourown.org/media).
The number of fan work cannot to be scraped since it is not in the tag.
<im

[2018-11-06 05:04] ChicoXYC commented on #45
Update into the FAQs. Please refer here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/a0a3c2c2287205f75e0bb4662dcafac745c53c24/module-python-twitter.md#how-to-apply-twitter-api-key

[2018-11-06 05:04] #45 closed

[2018-11-06 06:06] ChicoXYC commented on #67
@Rita0719  You can find the number is in the `li` tag. Therefore you can use `li.text` to get the number. Since the book title also in the `li` tag. You can use `split()` function to separate those two elements and use `list slicing` to get the number.

Apart from the finding numbers. Its strongly suggested the `elements first` method to loacate the data you are interested in.

Like, you should fi

[2018-11-06 06:13] ChicoXYC commented on #48
Merged into FAQs. Please refer here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-jupyter.md#set-jupyter-environment-in-cva517

[2018-11-06 06:13] #48 closed

[2018-11-06 06:41] ChicoXYC commented on #57
* merged into notes: Window scroll methods: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#scroll-down-certain-element
* merged into FAQs: Takeaways on `select_element_by_css_selector`: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-selenium.md#find-elements-by-css-selector

[2018-11-06 06:43] #57 closed

[2018-11-06 06:44] #64 closed

[2018-11-06 06:45] ChicoXYC commented on #61
@SerenaQYHuang Thanks again. Closed

[2018-11-06 06:45] #61 closed

[2018-11-06 06:49] Shinonomee opened #68 "Some problems about turning page"
Here is my codes. I find that when turning pages it stops at the 3rd page.  I tried a lot but could not find the reason. Thank you! @ChicoXYC
[code]

[2018-11-06 07:17] ChicoXYC commented on #68
@Shinonomee please refer here for pagination. How to find the button and click https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#scroll-down-certain-element

[2018-11-06 07:31] ChicoXYC commented on #68
@Shinonomee that's probably because you don't match the `precise click button`. please refer here:https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-selenium.md#find-elements-by-css-selector

[2018-11-06 07:45] elusiveburglar opened #69 "followed google sample code [Error using Youtube API]"
# Troubleshooting

## Describe your environment

* Operating system: Windows
* Python version: 3.6
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:

## Describe your question

I used YouTube Analytics API sample code
https://developers.google.com/youtube/reporting/v1/code_samples/python
followed every step and the problem is

![0_hc5wxnozcs0bymvo](https:/

[2018-11-06 09:49] ChicoXYC commented on #49
Update list slicing. Please refer to our notes: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/4910697fc6f5b32701adf1df6a593dbec4581506/notes-week-03.md#list-slicing

[2018-11-06 09:49] #49 closed

[2018-11-06 09:56] Shinonomee commented on #68
@ChicoXYC  I think I have found the precise click button, but it still stops at the 3rd page.
![_20181106175312](https://user-images.githubusercontent.com/42882088/48056643-2cce0c80-e1ed-11e8-9046-e772e304db24.png)

[2018-11-06 10:38] ChicoXYC commented on #68
@Shinonomee
Just add a time sleep after line `for i in range(0,7)` will help to solve the problem. Its a good practice to leave a time sleep where need a period of time to load content.

[code]

[2018-11-06 12:39] Shinonomee commented on #68
@ChicoXYC  Thank you!!!

[2018-11-06 14:11] ChicoXYC commented on #66
Avoid encoding error with opening csv in Excel, please check out here 👉
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/56bc1354cdc659950b0591a06ddce3e9140ceb6b/module-csv.md#encoding-issue-about-microsoft-excel

[2018-11-06 14:11] #66 closed

[2018-11-06 14:13] Rita0719 commented on #67
thank you!code runs smoothly but there is another small problem. some book name is Japanese so when I look up to the csv file it will become an error code. it is because that the encode form different from Chinese?

[2018-11-07 05:23] Wong-Ming opened #70 "Assignment 1-Data of different kinds pop up all at once in rows"
# Troubleshooting
Different types of data (names, types, numbers of reviews, etc., as the website crawled is TripAdvisor) came up in one piece of text and in rows, stopping further attempts in ranking in rows with different columns showing different specs in cvs file. Also, irrelevant texts that should be in other parts of the site were included. Should be because of wrong coding/filtering in the

[2018-11-07 05:29] lullabymia opened #71 "dealing with splitted name"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
* Which chapter of book?:

## Describe your question

Example: I get IOError when running my script to load files.

## The minimum code (snippet) to reproduce the issue

Example:

[code]

## Describe the efforts you have spent on this issue

Exampl

[2018-11-07 07:42] ConnorLi96 opened #72 "Feedback for Chapter 08"
## Suggestions
- Histogram
```df = pd.read_excel('nottingham.xlsx')``` When I try this code, there is module error. After system reminder, I install ```xlrd```, then it can work. I guess you can add it.

- Percentile
Maybe you can add the ```df["AVG_ENG_MATH_SCORE_10"].quantile(0.5)``` is equal to ```df["AVG_ENG_MATH_SCORE_10"].median()```, which can help us to understand the percentile better.

-

[2018-11-07 14:26] SerenaQYHuang opened #73 "Feedback for Note 08"
When I was trying to run the following piece of code:
[code]
I did not get a histogram. Instead, I got this:
![image](https://user-images.githubusercontent.com/41979788/48137024-15ba1800-e2dc-11e8-88fa-a7b14024afd1.png)

[2018-11-07 14:46] ChicoXYC commented on #70
@Wong-Ming
Please find all elements/retaurants first, every element include all info of one restaurant.Then you can use a for loop to get the attributes you want. The following is for you consideration.
[code]

[2018-11-07 15:08] CelineTsang opened #74 "How to compile different lists into CSV correspondingly?"
I crawled to the restaurant's name and address, tags and other information, I want to know how to put their corresponding into a table. Otherwise, the output data is independent.
<img width="650" alt="2018-11-07 10 47 52" src="https://user-images.githubusercontent.com/42716407/48139640-f0300d00-e2e1-11e8-8824-774cea2ecca2.png">

<img width="617" alt="2018-11-07 11 04 02" src="https://user-images.g

[2018-11-07 15:54] warrior960812 commented on #74
First You can create a new list of lists. For example:

[code]

（then you got the list including names and tags)

Next, you can write the CSV:

[code]

(Because the writerows means you should print all the rows in the form of list, and  the All_information (the list we created) should includes all index of the names and tags.

[2018-11-07 15:57] lullabymia commented on #71
import requests
r=requests.get('https://www.fifa.com/worldcup/statistics/players/goal-scored')
from bs4 import BeautifulSoup
import bs4
mypage = bs4.BeautifulSoup(r.text)
allplayer=mypage.find('tbody')
allplayers=allplayer.find_all('tr')
player1=allplayer.find('tr')
data=[]
for i in allplayers:
    name=i.find(attrs={'class': 'fi-p__name'}).text.strip()
    g=i.find_all(attrs={'class': 'fi-table__

[2018-11-07 16:02] hupili commented on #73
You can put `%matplotlib inline` in the first cell, so the figure is inserted inline.

If not working, try to execute that plotting cell twice -- seems a recent Jupyter notebook glitch.

[2018-11-07 17:36] hupili commented on #74
`zip` function can come handy sometimes, but I strongly advise you to adopt the item-first/ then-attribute approach in scraping: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-05.md#item-first-vs-attribute-first

[2018-11-07 17:40] hupili commented on #71
@lullabymia , https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-00.md#code-block--syntax-highlighting  Here's how you can put code for other's easier consumption.

[2018-11-07 17:41] hupili commented on #71
@lullabymia does the screenshot solve the problem?

[2018-11-07 17:42] hupili commented on #70
Also refer to item-first approach: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-05.md#item-first-vs-attribute-first

[2018-11-07 17:43] hupili commented on #69
Missing `,` at the end of `metrics` line.

[2018-11-07 17:47] hupili commented on #68
Seems solved to me. Feel free to re-open if the problem still exists. Here's the pointer in our notes:

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#browser-rendering-delay

[2018-11-07 17:47] #68 closed

[2018-11-07 17:48] hupili commented on #67
@Rita0719 does this solve your issue?

https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-csv.md#encoding-issue-about-microsoft-excel

[2018-11-07 17:51] hupili commented on #65
As a convention, `def` right before you use it. That keeps relevant codes together. This convention works well for small projects.

"No such element" error is usually due to browser rendering delay if you are sure the selector code is correct. Refer here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-06.md#browser-rendering-delay

Please let us kn

[2018-11-07 18:20] hupili commented on #63
The issue is outdated.

For those interested minds, here's the solution: https://github.com/hupili/python-for-data-and-media-communication/blob/master/scraper-selenium/NYT.ipynb

This is a good practice of "human in the loop".

The data is here: https://github.com/hupili/python-for-data-and-media-communication/blob/master/scraper-selenium/nyt_world.csv

[2018-11-07 18:20] #63 closed

[2018-11-08 06:45] SerenaQYHuang commented on #73
Problem solved by adding ```%matplotlib inline```. Thank you so much!

[2018-11-08 07:41] lullabymia commented on #71
[code]
I solved the problem by appending strings in the first place!
In this way, there is no need to split [data] in to strings anymore.
@hupili @ChicoXYC Thank you~~ :)

[2018-11-08 08:03] SerenaQYHuang commented on #73
Two comments on KDE: (for students to extend your mind)

1.
[code]
![](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/assets/histogram-and-KDE.png)

What if we do not define ax here, but put it into the second line directly?

![image](https://user-images.githubusercontent.com/41979788/48184279-7abd4e80-e36c-11e8-9c83-7d8c0de46201.png)

As we can see, it also

[2018-11-08 08:42] SerenaQYHuang commented on #73
[code]
should be
[code]

[2018-11-08 08:47] Rita0719 commented on #67
thank you！

[2018-11-08 08:47] #67 closed

[2018-11-08 09:05] ChicoXYC commented on #73
@SerenaQYHuang for comments 1 and 2, you are totally right about this.
Thanks for the error you found in notes, I was keeping updating the notes today. Please refresh the notes and see if there is new content. Free to leave comments if there is further needs.

[2018-11-08 09:13] SerenaQYHuang commented on #73
[code]
The ```isna()``` function is only for pandas version 0.22 and above. It is suggested that for students who have lower versions of pandas, use ```isnull()``` instead.

[2018-11-08 12:19] CCCCCecilia opened #75 "about scraping"
在抓取虾米网站数据时，会不定时出现禁止访问的问题。在网上找到的解决方案是要更换headers中的cookie, 有效但是要人为更换， 请问有没有其他的解决方法来解决该问题?

[2018-11-08 14:37] SerenaQYHuang commented on #73
I'm wondering what this 's' means here... I don't think we have defined this
[code]
Output:
NameError: name 's' is not defined
@hupili @ChicoXYC

[2018-11-08 14:42] SerenaQYHuang commented on #73
[code]
The name 'yeardf' also was  not defined here

[2018-11-08 15:00] SerenaQYHuang commented on #73
[code]
a and b not defined here

[2018-11-08 15:01] SerenaQYHuang commented on #73
I have gone through all the note and all the questions are presented above

[2018-11-08 15:33] ChicoXYC commented on #75
@CCCCCecilia can you post your codes here?

[2018-11-08 15:34] ChicoXYC commented on #74
@CelineTsang have the problems solved?

[2018-11-08 15:41] ChicoXYC commented on #73
@SerenaQYHuang Also, can you help me to test in the other issue I mentioned here https://github.com/hupili/python-for-data-and-media-communication-gitbook/issues/72

[2018-11-08 15:50] CelineTsang commented on #74
Thank u all. I already solved the problem!

On Thu, Nov 8, 2018 at 11:34 PM Chico_X <notifications@github.com> wrote:

[2018-11-08 15:59] ChicoXYC commented on #53
merged into notes. https://github.com/hupili/python-for-data-and-media-communication-gitbook/commit/cff6d7faac0a285447bcf2754db1a0f6ec5380d4

[2018-11-08 15:59] #53 closed

[2018-11-09 01:53] 18426425 opened #76 "how to slice two elements under the same content when one of them may be None sometimes?"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version: python3
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:

## Describe your question

When scraping http://maoyan.com/board/4?offset=0, I want to slice the two elements: "release time" and "country" out respectively, but some movies show their country, some don't . for

[2018-11-09 02:17] SerenaQYHuang commented on #72
I didn't install because it was already installed in my environment

[2018-11-09 04:05] hupili commented on #76
string processing is needed. Try .split , in , endswith , etc

[2018-11-09 09:13] ChicoXYC commented on #76
@18426425 For this case, I think the format of time is fixed, with 10 character length. Therefore, we can use list slicing to separate them.
![image](https://user-images.githubusercontent.com/37010763/48253547-7bc0af80-e442-11e8-9f2a-fdcebbfe308c.png)

[2018-11-09 09:13] #74 closed

[2018-11-09 09:45] ChicoXYC commented on #72
@ConnorLi96 test in the different environments, it should be installed first.
Merged into notes. Thanks🎉🎉

[2018-11-09 09:45] #72 closed

[2018-11-09 09:45] #73 closed

[2018-11-09 13:52] CCCCCecilia commented on #75
@ChicoXYC  here [https://github.com/CCCCCecilia/python-data-assignments/blob/master/assignment1/assignment1.ipynb](url)

`import requests
from bs4 import BeautifulSoup
import time
import csv
base_url = "https://www.xiami.com/search?key="

headers = {
    'authority': 'www.xiami.com',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKi

[2018-11-11 09:43] 18426425 commented on #76
Yes, the problem has already solved under Pili's concise method, here are his codes: (starts from line 34 )
http://localhost:8888/notebooks/assignment1%20test.ipynb

[2018-11-11 09:52] hupili commented on #76
Amber, we can not visit that URL. That is on your own computer. (localhost)

Can you put it on GitHub and paste the GitHub URL for others reference?

[2018-11-11 13:12] 18426425 commented on #76
### Here is the GitHub URL:
https://github.com/18426425/myexercise/blob/master/Assignment1%20Maoyan%20Movietest.ipynb

and I tried to find another way( by using "if...else", I counted the length of the shortest one and found 15 is the boundary value between "with country" and "without country")(see line 67), but I failed again...and still I don't think there is sth. wrong...

def get_country(x):

[2018-11-11 13:48] hupili commented on #76
good try.

you can try to split the string first and test the boundary condition whether there are two fields or not

[2018-11-14 04:27] #70 closed, assigned to nobody

[2018-11-14 07:17] SerenaQYHuang opened #77 "CH09 feedbacks"
[code]
The first line should be ```import pandas as pd``` because pyplot has already been imported before. However, pandas has not been imported.

Also, I think ```plt.show()```should be added to make sure the figure will be displayed

[2018-11-14 07:32] SerenaQYHuang commented on #77
[code]
There is a problem with the keyword argument 'constrained_layout'

[2018-11-14 09:21] rippleYJH opened #78 "Week9_Data Viz Comments"
Here are three quick feedback for Week 9 notes:

1. For setting up the font part, the command "!open" doesn't work on my computer. I think it is because of the Window system. But we could try the command "matplotlib.get_cachedir()" , and it works.

2. I don't know why when I set the color, it sometimes raises such ValueError:
![image](https://user-images.githubusercontent.com/42017792/48472352-105

[2018-11-14 09:39] ChicoXYC commented on #77
@SerenaQYHuang  what's the error of question2? Its good in my testing.

[2018-11-14 09:47] ChicoXYC commented on #78
thanks. about question 2, where did it go wrong? and about question 3, I'm not sure what's happening here @hupili do you know this problem?

[2018-11-14 10:07] rippleYJH commented on #78
`country_counts = df['country'].value_counts()[:15].sort_values(ascending=False)
country = pd.DataFrame(country_counts)
fig = plt.figure(figsize=(14,7))
plt.bar(country.index, country.country,color = '#46c99',edgecolor = '#40b4e5')`

But actually when I tried your codes, it works... So I have no idea why it raised a ValueError.

[2018-11-14 12:12] SerenaQYHuang commented on #77
![image](https://user-images.githubusercontent.com/41979788/48481635-456f9f80-e849-11e8-8fbb-0695d1b59ca3.png)

I searched for this and it seems that we need the matplotlib 2.2 or above to have this function. The problem is I can't install it.

![image](https://user-images.githubusercontent.com/41979788/48481754-997a8400-e849-11e8-80ad-31e233d705cd.png)

[2018-11-14 12:15] SerenaQYHuang commented on #78
For the first question, I don't think there's such a command ```!open``` in Note09. Did you mean '!pip install' or open() ?

[2018-11-14 21:13] FLYSTEPHEN commented on #78
- For question 2, since this is a [HEXcolor](https://zh.wikipedia.org/wiki/网页颜色), we can only set the code from  #000000 to #ffffff.
- For question 3, we can click into the url to register and follow the instructions, then the library will work.

[2018-11-14 22:03] FLYSTEPHEN opened #79 "CH09 Data Visualization Libraries Feedbacks"
## matplotlib
-  ```plt.rcParams['font.sans-serif']=['SimHei']```
Some computers like mine may find no 'SimHei' font and raise a UserWarning. We can recommend the readers to try fonts like ```'Arial Unicode MS'``` if they encounter my problem. To see which fonts can be used here, I found a way from the Internet. It means the fonts with larger bytes are more likely to be Chinese fonts:
[code]
## pl

[2018-11-15 02:14] SerenaQYHuang commented on #77
![image](https://user-images.githubusercontent.com/41979788/48525462-3a575680-e8bf-11e8-886d-e029f3e0e71d.png)

Do we need an account to use this function? @ChicoXYC

[2018-11-15 09:19] hupili opened #80 "Chapter 11: datetime and time series"

[2018-11-15 09:22] hupili commented on #80
@FLYSTEPHEN , welcome to join the open book construction! You can try to implement the "Datetime" section as a start:

- [ ] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-11.md#datetime  -- those are the basics of how to deal with datetime data type.

Feel free to ask for any problems. You can send in partial results via PR once they are out. Earl

[2018-11-15 09:22] hupili opened #81 "Chapter 12: Network data"

[2018-11-15 09:23] hupili opened #82 "Chapter 13: Geographical data"

[2018-11-15 09:23] hupili opened #83 "Chapter 14: high dimensional data"

[2018-11-15 09:29] ChicoXYC commented on #77
@SerenaQYHuang  this is right, you can click the legend `by likes` and `by bookmark` to see different charts.

[2018-11-15 09:35] ChicoXYC commented on #77
@SerenaQYHuang I check out again, it works in my environment. Maybe we can have a meeting, I will check where it went wrong.

[2018-11-15 09:48] ChicoXYC commented on #79
@FLYSTEPHEN THANKS a lot.
For question1. thats the reason why I write the Q&A for how to support Chinese character in matplotlib :https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-matplotlib.md#how-to-display-chinese-characters-when-using-matplotlib

For question 2 & 3, I need to check again, I will reply you soon.

[2018-11-15 13:59] hupili commented on #79
https://github.com/hupili/python-for-data-and-media-communication/blob/master/matplotlib-examples/Chinese%20Font.ipynb

also add this to relevant places. this is more primitive approach for Mac users to find and choose font

[2018-11-15 16:34] ChicoXYC commented on #77
@SerenaQYHuang This is because I use the plot online method, which requires an account. I just updated the `plot.offline` method, you can try without creating an account. https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-09.md#plotly

[2018-11-15 16:36] ChicoXYC commented on #79
@FLYSTEPHEN About `plotly`. This is because I use the plot online method, which requires an account. I just updated the plot.offline method, you can try without creating an account. https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-09.md#plotly

[2018-11-15 16:48] ConnorLi96 opened #84 "Partial Feedback for Chapter 09"
@ChicoXYC

Sorry for late, I didn't finish all the content due to several final projects recently. But there are some partial feedback may can help us to improve it better, and if there are any new findings I will add it below this issue. By the way, this chapter is very practical and easy to receive, good job!

- Chinese characters will overlap like below screenshot. I've try modify the ```figsiz

[2018-11-16 13:13] AlexZenghuashan opened #85 "qidian.com - can't scrap the number on the website (special fonts)"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:

## Describe your question

I can't scrap the number about how many words the novel have. The url: https://www.qidian.com/all?chanId=2&subCateId=5&size=1&action=0&orderId=&vip=0&month=3&update=1&style=1&pageSize=20&sitei

[2018-11-16 14:16] hupili commented on #85
This is too hard for our students. Here's the quick solution. It is better to study with some other students together:

https://github.com/hupili/python-for-data-and-media-communication/blob/master/scraper-examples/Qidian%20wordcount.ipynb

[2018-11-17 01:55] AlexZenghuashan commented on #85
Thank you!

[2018-11-19 10:06] hupili opened #87 "The page for geopandas FAQ (and plotly choropleth example)"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-geopandas.md

[2018-11-19 10:20] hupili opened #88 "The mode of data"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-08.md#the-mode-of-data

i.e. 众数

[2018-11-20 12:23] ClioLI opened #89 "About displaying Chinese fonts in graphs"
# Troubleshooting

## Describe your environment

* Operating system: Mac
* Python version: Anaconda
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:

## Describe your question

I want to make a wordcloud picture of Chinese words using matplotlib. But the output picture is garbled and Chinese words cannot display. Even I have tried the two potential solut

[2018-11-20 13:14] zacharyzeng opened #90 "Problem of scraping number data from Dianping.com"
# Troubleshooting

## Describe your environment

* Operating system: MacOS 10.13.6
* Python version: 3.6
* Hardware: MacBook Pro 13-inch, 2017,
* Jupyter notebook or not? [Y/N]: Y

## Describe your question

 I cannot get the number of the tag attributes from Dianping website

## The minimum code (snippet) to reproduce the issue

from IPython.display import Image
Image("numbers hiding in url.png")

[2018-11-20 14:02] hupili commented on #89
You need to load the font in the wordcloud function. It does not go through the matplotlib. That is why even if you can plot Chinese on matplotlib, the wordcloud is still problematic.

[code]

Please refer to `In [538]` of [this notebok](https://github.com/data-projects-archive/201804-Fast-Food-on-Dianping/blob/0a8f2c1a6438f5a1767a9b13dbb4ed3ba69c1f0e/final_project/final%20project.ipynb)

[2018-11-20 14:03] #19 closed

[2018-11-20 15:33] zacharyzeng commented on #90
Hi Pili,

Thank you for your help. I will try to learn and decode it. Thanks again, and I am sorry to bother you so late.

Zach

| |
曾星杰
|
|
邮箱：xingjiezeng@163.com
|

签名由 网易邮箱大师 定制

On 11/20/2018 23:25, HU, Pili wrote:

The solution is here:

https://github.com/hupili/python-for-data-and-media-communication/blob/master/scraper-selenium/dianping%20comment%20number.ipynb

The sample data is here:

h

[2018-11-20 15:41] zacharyzeng commented on #90
Thanks Pili, I will try to learn and decode it.

[2018-11-21 07:57] Zmh951010 opened #91 "Coding problems when reading CSV files"
## Working environment
* Operating system: windows 10
* Python version: 3.7
* Jupyter notebook or not?: yes

## Problem: cannot read a csv file downloaded from a website

I downloaded a csv file from a database, named 'HK_REITS_portfolio.csv', it includes traditional Chinese characters, dates and numbers and looks like this:
![image](https://user-images.githubusercontent.com/42828826/48826001-1c4c

[2018-11-21 08:11] #91 closed

[2018-11-21 08:31] AlexZenghuashan commented on #85
![image](https://user-images.githubusercontent.com/42838093/48828495-d1824980-edaa-11e8-8fc7-feda41fc4cc0.png)
do i need to install something here?

[2018-11-21 08:47] AlexZenghuashan commented on #85
what modules do i need to install in order to run these codes？

[2018-11-21 09:51] ClioLI commented on #89
Thank a lot!

[2018-11-21 09:52] ClioLI commented on #89
Thanks a lot!

[2018-11-21 10:55] CelineTsang opened #92 "Problem of data visualization (Dianping.com)"
Problem of data visualization (Dianping.com)

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: y
* Which chapter of book?:

I grabbed the restaurant information of dianping.com/Hong Kong (including name, address phone number, tags, feature, average price), but since each data is unique, such as the price does not e

[2018-11-21 13:33] hupili commented on #85
wget is not a module. It is a Linux/ Unix command. You need to search how to install this tool on your operating system.

[2018-11-21 13:39] hupili commented on #92
Please leave your notebook link and better the [NBViewer](notes-week-00.md#nbviewer) link since there are dynamic charts.

[2018-11-21 13:51] hupili commented on #92
For your dataset, followings are suggested:

- [transform](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-07.md#transformation) the price column from `str` to `int`. Once done, 1D analysis on this column can already yield to multiple story points, e.g. distribution/ min/ max/ ...
- For the `tags` column, you may want to convert it to numeric encodi

[2018-11-21 13:52] hupili commented on #89
@ClioLI does this solve your issue? If so @ChicoXYC please merge to FAQ and leave pointers here.

[2018-11-21 15:33] CCCCCecilia opened #93 "problem about Pyecharts"
* Operating system:MAC OS
* Python version:3.7.0
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:WEEK9

##question 1: I draw a chart with Pyecharts. It can show in my Jupyter notebook, but cannot show when I use GitHub or https://nbviewer.jupyter.org to view it.
![1542813440113](https://user-images.githubusercontent.com/43194916/48851335-bed93600-ede5-11e8-98e5-62ab83a7aebd.jpg)
![1542

[2018-11-21 17:18] hupili commented on #93
Can you show the notebook link for our online testing? [more](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/pro-tips.md#asking-questions-like-a-pro)

Is this helpful? http://pyecharts.org/#/zh-cn/charts_style

[2018-11-21 18:19] CCCCCecilia commented on #93
https://nbviewer.jupyter.org/github/CCCCCecilia/python-data-assignments/blob/master/assignment2/assignment2.ipynb

[2018-11-21 18:22] #75 closed

[2018-11-22 01:55] Shinonomee opened #95 "Problems about wordcloud"
Here is my code:
[code]
The value Error is : We need at least 1 word to plot a word cloud, got 0.
Thank you very much!

[2018-11-22 02:52] ClioLI commented on #89
Yes, the problem has been solved and Yucan said he will merge this to FAQ.

[2018-11-22 02:56] hupili commented on #93
For the pyecharts rendering problem, you can try the following steps:

1. Save the chart to standalone HTML files.
2. Use the `from IPython.display import IFrame` way to load it into your notebook.

Reference to the map in my recent [open rice map visualisation](https://nbviewer.jupyter.org/github/hupili/openrice-data-blog-201811/blob/master/12.%20Sichuan%20Map.ipynb)

Please let us know if this w

[2018-11-22 02:58] ChicoXYC commented on #95
@Shinonomee please first check out what is `text`, then we can discuss further.
Also, please upload your notebook and data in your one repo, and send us the link so that we can know what's the situation here.

[2018-11-22 03:17] Shinonomee commented on #95
@ChicoXYC  [https://github.com/Shinonomee/Booking](url)
Here is the data and notebook, Thank you!

[2018-11-22 03:47] ChicoXYC commented on #88
update https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-08.md#the-mode-of-data

[2018-11-22 03:58] ChicoXYC commented on #95
@Shinonomee
<img width="769" alt="screen shot 2018-11-22 at 11 49 43 am" src="https://user-images.githubusercontent.com/37010763/48880832-1f4f8e00-ee4d-11e8-9c3c-3b11e3e84aab.png">
first, you csv has some error when written, please check out the scraping process.

second, the value error indicates that you need to check out the `text` whether there is `text` or not. according to my test, the issue

[2018-11-22 04:36] ChicoXYC commented on #89
merged into FAQs: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-matplotlib.md#display-chinese-characters-when-plotting-tag-cloud

[2018-11-22 07:08] lullabymia opened #96 "How to loop in different format {}"
# Troubleshooting

## Describe your environment

* Operating system: mac
* Python version: 3.7
* Hardware: macbook
* Internet access: http://paper.people.com.cn/rmrb/html/2008-10/27/nbs.D110000renmrb_01.htm
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:

## Describe your question
I am scraping articles from people's daily
I want to
1. find different articles,
2. turn pages (4 pages)

[2018-11-22 10:36] hupili commented on #89
It is better to put into `module-wordcloud`. In essence, it is the `wordcloud` issue, not `matplotlib` issue.

After the new FAQ page is created, you can link from `module-matplotlib` to `module-wordcloud`, leaving a message:

We keep on improving categorisation and inter-linking between those topics.

[2018-11-22 11:50] SerenaQYHuang opened #97 "Feedbacks for Note10"
For the following code
[code]
What we expected was ```"http://initiumlab.com/blog/20160730-mediawiki-wiki-knowledge-management-system/"```
If we use the code listed above, what we actually got would be ```'http://initiumlab.com/20160730-mediawiki-wiki-knowledge-management-system/'```

"/blog/" should be also added @ChicoXYC

[2018-11-22 12:35] Shinonomee commented on #95
Thank you! The problem has been solved!

[2018-11-22 12:41] shiyuning0987 opened #98 "cannot run Chinese words"
# Troubleshooting

## Describe your environment

* Operating system:mac
* Python version:3.7
* Hardware:mac book
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:week09

## Describe your question
cannot find SimHei foot in my computer

![image](https://user-images.githubusercontent.com/42941700/48903398-6a41c380-ee96-11e8-8882-0818025d9743.png)

sns.set(font='SimHei')
## Describe the ef

[2018-11-22 12:57] hupili commented on #98
Can you put up the notebook?

[2018-11-22 13:06] SerenaQYHuang commented on #97
[code]
The output for this piece of code is like the following:
![image](https://user-images.githubusercontent.com/41979788/48904775-74fe5780-ee9a-11e8-8896-a19d9b8a67dc.png)

[2018-11-22 13:07] SerenaQYHuang commented on #97
[code]
Output:
![image](https://user-images.githubusercontent.com/41979788/48904833-abd46d80-ee9a-11e8-9397-c0eec2ec1cbc.png)

[2018-11-22 13:09] shiyuning0987 commented on #98
yes！here is the link
https://github.com/shiyuning0987/python-data-assignments/blob/master/assignment2.ipynb

[2018-11-22 13:14] lullabymia commented on #96
It seemed that I successfully turned pages and dates, but it kept raising errors. I know it is because the number of articles differs from every page. How can I solve it?
Also, I am supposed to start from the first date of October, but I don't know how to  start from 01 to 31.
[code]

<img width="742" alt="2018-11-22 9 13 51" src="https://user-images.githubusercontent.com/42403858/48905099-8dbb3d0

[2018-11-22 13:18] shiyuning0987 commented on #98
use this link
https://github.com/shiyuning0987/python-data-assignments/blob/master/assignment2-Copy1.ipynb

[2018-11-22 13:41] SerenaQYHuang commented on #97
![image](https://user-images.githubusercontent.com/41979788/48906397-4d5dbe00-ee9f-11e8-9e71-c2833c8e7716.png)

This is weird. Why doesn't it work?

[2018-11-22 14:45] AlexZenghuashan opened #99 "I can't scrap all the data in one page"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:

https://github.com/AlexZenghuashan/repo/blob/master/%E4%BA%BA%E4%BA%BA%E4%BA%A7%E5%93%81%E7%BB%8F%E7%90%86.ipynb

## Describe your question

The key puzzle is that if you grab a page you can only grab the first one but

[2018-11-22 15:06] ChicoXYC commented on #99
@AlexZenghuashan Please refer here: https://github.com/ChicoXYC/exercise/blob/master/student-cases/element-first%26multiple-layer.ipynb and let me know if helps

[2018-11-22 15:15] SerenaQYHuang commented on #97
![image](https://user-images.githubusercontent.com/41979788/48910995-759fe980-eeac-11e8-8604-9fd6bea7f2b2.png)

[2018-11-22 15:20] SerenaQYHuang commented on #97
[code]
![image](https://user-images.githubusercontent.com/41979788/48911209-2c9c6500-eead-11e8-8e4e-9e924a1d4ac7.png)

[2018-11-22 15:36] AlexZenghuashan commented on #99
Thank you! My problem has been solved.

[2018-11-22 16:19] ChicoXYC commented on #97
@SerenaQYHuang the reason why the error appeared on several examples you listed above is that they are not the real example cases, its just a syntax without pulling data. I've already modified and make them real cases.

[2018-11-22 16:20] ChicoXYC commented on #97
for this error, it works in my environment, we can discuss more tomorrow.

[2018-11-22 16:59] ChicoXYC commented on #89
@hupili  merged into FAQs

[2018-11-22 17:01] #89 closed

[2018-11-22 17:09] hupili commented on #98
@shiyuning0987 , please try to resolve Chinese with matplotlib first:  https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-matplotlib.md

When you can use `matplotlib`'s `plt.plot` to show Chinese characters, `seaborn` should also work. Let's followup if the former half works but not the latter half.

You may want to load fonts and make sure `matplotlib` wo

[2018-11-22 17:12] hupili commented on #97
`type(str)` to see what you get. @SerenaQYHuang @ChicoXYC , you may have different results.

[2018-11-22 17:16] ChicoXYC commented on #96
@lullabymia Nonetype means that it doesn't find the text you want, mostly because there might be no text. Following is the debugging process.

1. please first format all the URLs you want, append into a list.
2. find elements in a single page. If works, then for loop all the URL lists to get more.
3. For handling none type error when scraping, please refer the following method, and you can checkou

[2018-11-23 02:36] SerenaQYHuang commented on #97
input: type(str)
output: str

![image](https://user-images.githubusercontent.com/41979788/48926750-ac591c80-ef0b-11e8-90d0-72afa94039a3.png)

[2018-11-23 02:45] SerenaQYHuang commented on #97
<img width="763" alt="_20181123004500" src="https://user-images.githubusercontent.com/41979788/48926805-0b1e9600-ef0c-11e8-8aa3-71ff6204bf37.png">
Then I tried adding an r before the url like this:
words = read_txt(r"C:\Users\Administrator\Dropbox\Media data analytics\BigDataAnalytics\AppleDaily.txt")

and it turned out to be:
![image](https://user-images.githubusercontent.com/41979788/48926898-cc

[2018-11-23 02:48] CCCCCecilia commented on #93
I tried this solution and it worked. Now the chart can show on nbviewer, but still cannot show on GitHub .

[2018-11-23 05:01] FLYSTEPHEN commented on #87
- [plotly](https://plot.ly/python/maps/) is a very powerful visualisation library for python. Some of its maps may need the support from `geopandas`.
- However, there may be some errors when installing geopandas. A required element called`pyproj` has some problem in `python3.7`.
- I have recorded the **[detailed solution process](https://github.com/FLYSTEPHEN/Error-solution/blob/master/plotly_Impo

[2018-11-23 08:36] Rita0719 opened #101 "I want to enrich my data."
# Troubleshooting

I want to enrich my data. It seems that I have to click every single webpage in the first column "work name" to find more information to support my story.Is there any easier way?

https://archiveofourown.org/media/Movies/fandoms

The columns of the data that I want to scrap in is as below:

![37361542897837_ pic](https://user-images.githubusercontent.com/42727192/48934071-96644f

[2018-11-23 10:49] lullabymia commented on #96
@ChicoXYC problem solved! Thank you!

[2018-11-23 13:01] Rita0719 commented on #101
另一个思路：我换一个网站。可以吗……

[2018-11-23 13:16] hupili commented on #101
Please try best to stick to the current topic. You will get something in the end.

According to [current dataset from assignment1](https://github.com/Rita0719/python-data-assignments/tree/master/assignment1). You can at least do the following:

- 1D analysis of the "Reviews" column. You can start with [distribution](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/mas

[2018-11-23 13:17] hupili commented on #101
At the mean time, you can also kick off new scrapers, or extend previous one to include more rows/ columns. We are help with the detailed issue.

[2018-11-23 13:40] hupili commented on #80
@FLYSTEPHEN 👍 good work. Just added a new section from a question asked by a student in the afternoon:

- [ ] Compare two datetime. https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-11.md#compare-two-datetime-object

[2018-11-23 13:49] hupili commented on #88
Additional notes added.

[2018-11-23 13:49] #88 closed

[2018-11-23 13:50] hupili commented on #25
Now text

[2018-11-23 14:00] DidoChan opened #102 "nbviewer.jupyter.org cannot read interactive charts of my ipynb file"
# Troubleshooting

## Describe your environment

* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:

## Describe your question
Nbviewer.jupyter.org cannot read all interactive charts of my ipynb file which can run successfully on the jupyter environment.

Image1:It runs successfully on the jupyter environment----
![wech

[2018-11-23 14:02] hupili opened #103 "Restructure book"
Followup items after the semester:

- [x] @hupili  week 03 breakdown to: 1) control flow; 2) data structure
- [x] @hupili  week 04 breakdown to: 1) serialisation; 2) API
- [x] @hupili  move notes order 1..17.
- [x] @ChicoXYC  Check cross referencing links: is any link broken (due to above restructure)?
- [x] @ChicoXYC Check cross referencing links: revise from absolute to relative if it is interna

[2018-11-23 14:22] hupili commented on #102
Seems duplicate of #93 . Can you try this? https://github.com/hupili/python-for-data-and-media-communication-gitbook/issues/93#issuecomment-440897753

[2018-11-23 14:36] hupili commented on #87
Good note. Edited into FAQ. @FLYSTEPHEN you may want to have a look. An FAQ structure is slight different. Error messages help people to search into that page.

Also added this case to week 13 mapping.

👍

[2018-11-23 14:36] #87 closed

[2018-11-23 14:51] hupili commented on #97
Is [this comment](https://github.com/hupili/python-for-data-and-media-communication-gitbook/issues/97#issuecomment-441145772) resolved? It looks like mistakenly assignment to `str` built-in function.

More here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/python-language-basics.md#name-clash-with-reserved-word

[2018-11-23 15:02] CathyChang1996 opened #104 "Pyecharts cannot display figures"
# Troubleshooting

## Describe your environment

* Operating system:MacOS 10.13.6
* Python version: 3.6
* Hardware:MacBook Pro 13-inch, 2017,
* Jupyter notebook or not? [Y/N]:Y

## Describe your question

the line chart cannot display the figures.

## The minimum code (snippet) to reproduce the issue

[code]

### What is the closest answer you can find?

an applicable code I used before:

[code]

[2018-11-23 15:03] hupili commented on #104
@CathyChang1996 , can you give the direct link of notebooks and data files?

[2018-11-23 15:11] CathyChang1996 commented on #104
notebook link:

https://github.com/CathyChang1996/python-data-assignments/blob/master/assignment2/sample.ipynb

csv documents:

https://github.com/CathyChang1996/python-data-assignments/blob/master/assignment2/Billboard%20Top1%201958-2018.csv

https://github.com/CathyChang1996/python-data-assignments/blob/master/assignment2/The%20Year%20End%20Chart.csv

[2018-11-23 15:21] FLYSTEPHEN commented on #80
Thank you, sir. I also benefit from it!

[2018-11-23 15:37] ChicoXYC commented on #101
@Rita0719 https://github.com/ChicoXYC/exercise/blob/master/student-cases/archiveofourown_movie.ipynb I've crawled all the single film urls here, you can use a for loop for scraping other information. Because I don't quite understand what you are going to scrape in the detailed pages. If you have further questions, please let me know.

[2018-11-23 15:40] ChicoXYC commented on #97
@hupili I guess this is the reason. Because in previous example, i use `str` as a assignment. I've changed it into other name.

[2018-11-23 16:20] hupili commented on #104
There is no option from `pyecharts` to change the type from "category" to "value".

From the [official doc](http://pyecharts.org/#/zh-cn/charts_base?id=line%EF%BC%88%E6%8A%98%E7%BA%BF%E9%9D%A2%E7%A7%AF%E5%9B%BE%EF%BC%89)

The function signature (parameter list)

<img width="770" alt="screenshot 2018-11-24 at 12 17 03 am" src="https://user-images.githubusercontent.com/1227160/48952790-69845c80-ef7e

[2018-11-23 16:32] hupili commented on #104
Here is the Option 2 -- hack `pyecharts`.

[code]

<img width="845" alt="screenshot 2018-11-24 at 12 31 04 am" src="https://user-images.githubusercontent.com/1227160/48953275-3f339e80-ef80-11e8-8982-ff19cac77e8c.png">

**NOTE**: this looks the same as above. That is just a co-incidence. When your year column is not consecutive, this version is correct. The above will give a wrong visualisation.

[2018-11-23 16:33] hupili commented on #104
Here are all the data and codes and troubleshooting notes: https://github.com/hupili/python-for-data-and-media-communication/tree/master/pyecharts-examples/debug-echarts-time-series

[DONE]

[2018-11-24 01:11] CCCCCecilia commented on #93
OK.

[2018-11-24 07:28] Shinonomee opened #106 "nbviewer.jupyter.org cannot read the pyecharts"
# Troubleshooting

## Describe your environment

* Operating system: Windos10
* Python version:3.6
* Jupyter notebook or not? [Y/N]:Y

I have tried the method in the previous issue but it doesn't work.
Here is the code:

[code]

[2018-11-24 07:35] hupili commented on #106
related #102, #93

[2018-11-24 07:37] hupili commented on #106
Removing the last `bar` should solve the problem:

- `bar` and `IFrame` both can intercept the Output cell.

[2018-11-24 07:56] hupili opened #107 "Avoid using reserved word in variable names"
FAQ: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/python-language-basics.md#name-clash-with-reserved-word

- [x] https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-10.md#word-frequency
- [x] Scan the entire notebook for similar use.

[2018-11-24 08:09] Shinonomee commented on #106
It works now! Thank you!

[2018-11-24 08:09] #106 closed

[2018-11-24 10:03] DidoChan commented on #102
It works !

[2018-11-24 10:18] DidoChan commented on #102
However the other static charts cannt show which appeared successfully yesterday......
image1:static charts coding works on jypyter environment.
![222](https://user-images.githubusercontent.com/42913830/48966972-ee21ba00-f014-11e8-87ed-76ee42354428.jpeg)

image2:static charts cannot show on nbviewer.jupyter.org.
![1111](https://user-images.githubusercontent.com/42913830/48966973-f4b03180-f014-11e8

[2018-11-24 11:18] CathyChang1996 opened #108 "nbviewer.jupyter.org cannot read the Pyecharts , although used others solution"
# Troubleshooting

## Describe your environment

*Operating system:MacOS 10.13.6
*Python version: 3.6
*Hardware:MacBook Pro 13-inch, 2017,
*Jupyter notebook or not? [Y/N]:Y

## Describe your question

nbviewer.jupyter.org cannot read my Pyecharts

## Describe the efforts you have spent on this issue

[code]

[2018-11-24 11:20] CathyChang1996 commented on #108
Here is the link:

https://nbviewer.jupyter.org/github/CathyChang1996/python-data-assignments/blob/master/assignment2/Analysis%20of%20%20Billboard%20Hot%20100%20Hits%20(1958-2018).ipynb?jhvuhih

[2018-11-24 16:33] hupili commented on #108
You need to commit and push those HTMLs rendered from pyecharts, e.g.

http://github.com/CathyChang1996/python-data-assignments/blob/master/assignment2/Top_10_Aritists.html

`IFrame` will load charts from those files. Those files are actually your charts. You can double click to view them on your local disk.

[2018-11-24 16:35] hupili commented on #108
<img width="1193" alt="screenshot 2018-11-25 at 12 34 53 am" src="https://user-images.githubusercontent.com/1227160/48970656-f8aa7680-f049-11e8-8843-61160c17a3e9.png">

[2018-11-25 03:35] SerenaQYHuang opened #109 "Feedbacks for Note11"
1. The output for this piece of code is not the same with the DEFAULT
![image](https://user-images.githubusercontent.com/41979788/48975189-19081e80-f0a6-11e8-8cd6-89ac60dda723.png)
迷茫

[2018-11-25 04:42] SerenaQYHuang commented on #109
2. A question concerning time delta
[code]
What if I'd like to know how many days there are from now to a particular time?
I tried the following:
[code]
but got an error like this
![image](https://user-images.githubusercontent.com/41979788/48975610-8e2c2180-f0af-11e8-9996-78a115cfd58f.png)

[2018-11-25 05:10] SerenaQYHuang commented on #109
![image](https://user-images.githubusercontent.com/41979788/48975771-4d360c00-f0b3-11e8-97f6-ed8dc799a0bb.png)

It turns out we are unable to get access to this csv file, making it difficult to run the whole time series analysis practice @hupili @ChicoXYC

[2018-11-25 07:33] SerenaQYHuang commented on #109
Note 12:
First, I tried to draw the graph using nx.show(g)
Nothing happened
![image](https://user-images.githubusercontent.com/41979788/48976741-3c8f9100-f0c7-11e8-8a76-268cd255d1da.png)

Then, I added plt.show(), and I got this
![image](https://user-images.githubusercontent.com/41979788/48976747-634dc780-f0c7-11e8-9fbe-a762b079a1d9.png)

This is weird because there are only three nodes in my grap

[2018-11-25 10:03] FLYSTEPHEN commented on #109
You are right. If we use `print()`, the output will drop its type traits to get a better effect of display on the screen. Just use `dt_1,dt_2,dt_3,dt_4` without `print()` in the last line to get the same result in this note. I will revise this point.

[2018-11-25 11:43] #99 closed

[2018-11-25 11:44] ChicoXYC commented on #93
merged into notes: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-jupyter.md#import-interactive-charts-in-jupyter-notebook

[2018-11-25 11:45] #95 closed

[2018-11-25 11:46] ChicoXYC commented on #98
@shiyuning0987 have you solved the problem? if no, please let us know.

[2018-11-25 11:57] ChicoXYC commented on #102
Merged those two issues in notes, please refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-jupyter.md#display-charts-in-nbviwer).

[2018-11-25 12:00] ChicoXYC commented on #77
@SerenaQYHuang have the problems solved?

[2018-11-25 12:04] ChicoXYC commented on #78
update the plotly offline method, which does not require an account. please see [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-09.md#plotly).

[2018-11-25 12:04] #78 closed

[2018-11-25 12:05] ChicoXYC commented on #76
@18426425 have you solved the problem?

[2018-11-25 12:05] ChicoXYC commented on #69
@elusiveburglar have you solved the problem?

[2018-11-25 12:06] #79 closed

[2018-11-25 12:18] #93 closed

[2018-11-25 12:18] #96 closed

[2018-11-25 12:19] #102 closed

[2018-11-25 12:57] ChicoXYC commented on #107
@hupili update --> b84b9ae
scan the whole document, replacing conflict word in variable names. Including str, dict, list.

[2018-11-25 14:11] hupili commented on #109
@SerenaQYHuang @ChicoXYC , please redirect the week 12 to another thread. It is better the keep the topic focused in one issue.

[2018-11-25 14:13] hupili commented on #109
@FLYSTEPHEN , I think the OP may be asking the function of "default" --- i.e. when there is any datetime dimentions (year/ month/ ...) missing, the parser will use default in that place. We can elaborate this in the notes.

@SerenaQYHuang , can you further elaborate the question? Which part is confusing? You can also check if [this PR](https://github.com/hupili/python-for-data-and-media-communicat

[2018-11-25 14:16] hupili commented on #107
`list1` is not good. That let's people think `list` could be a valid name. Please use `mylist` if you can not find a proper name.

If there is a physical meaning, we usually embed the physical meaning in the variable name. For example, if you have a list of articles, either say `articles = []` or `article_list = []`.

[2018-11-25 15:31] ChicoXYC commented on #96
Closed. You can refer to the [Item-first v.s. attribute first](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-05.md#item-first-vs-attribute-first) And handle errors by [Try sub-tasks and regroup success/ fail cases](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-03.md#try-sub-tasks-and-regroup-succe

[2018-11-25 15:44] ChicoXYC commented on #91
Merged into notes, you can refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/frequently-asked-questions.md#cannot-read-a-csv-file-downloaded-from-a-website).

[2018-11-25 15:49] #98 closed

[2018-11-25 15:56] CathyChang1996 commented on #108
I've already solved the problem. Sorry for late response. Thanks a lot!!

[2018-11-26 02:35] SerenaQYHuang commented on #109
@hupili The problem is solved. I was confused by the format of the result because it did not match the DEFAULT but @FLYSTEPHEN has pointed out that it was because I used the function ```print()```. I tried and the problem was solved

[2018-11-26 03:14] FLYSTEPHEN commented on #109
@hupili 's comment is also right. We need to explain the function of `default` here. I will add  it later

[2018-11-26 06:38] SerenaQYHuang opened #111 "Feedbacks for Note12"
[code]
Please be noted that g1 is not defined here. I think we should define it first

[2018-11-26 06:52] SerenaQYHuang commented on #111
In the Clustering coefficient part, I think explanations will be needed. For beginners, it's a bit difficult to get it. For example, what are "XXX","XXX","XXX"? If they are pseudo codes, how come I can still get a number running this code? (The output is 0.5731367499320134)

[code]

And what does it mean by the numbers in the result in this following piece of code? Why is Champtercier 0 and Myriel

[2018-11-26 07:44] SerenaQYHuang commented on #111
I've got an error with the following codes:
[code]
Output:
![image](https://user-images.githubusercontent.com/41979788/48999618-2569a580-f192-11e8-9402-197ff3551b50.png)
![image](https://user-images.githubusercontent.com/41979788/48999637-35818500-f192-11e8-8303-7e2327c5c561.png)

[2018-11-26 09:56] ConnorLi96 commented on #109
## Other feedbacks in Chapter 11

- **In the A failed parsing case**
There are Chinese characters in ```parse("2月15日 10:36:28")```, and then it failed. I didn't find solution in references, I guess add it in notebook will be better.

- **In the Add timedelta to a datetime object**
The sample code seem has error, and I run below code successfully.
<img width="852" alt="image" src="https://user-imag

[2018-11-26 12:15] ChicoXYC commented on #109
@ConnorLi96 the link in the notebook you give is outdated, the csv in the notes is the newest. But the strange thing is that I still cannot open this csv with the following error:

[code]

The alternative solution:

[code]

@hupili  do you know this, sir?

[2018-11-26 12:18] hupili commented on #109
talked about this during class. It is likely to be CVA problem. That is why in the class demo of week07, I download the data from GitHub, instead of directly loading via URL

[2018-11-26 13:03] ChicoXYC opened #112 "Pending bugs"
The first two are issues about different os system users. The third is about encoding problem.

## load csv from GitHub

Mac users(2) cannot import with the following codes, while Windows(2) users can work.

[code]

Error message:

[code]

Python version: both 3.6.5
Requests version: both 2.19.1
WI-FI environment: both CVA 808

## import stopwords from nltk

Windows users(3) can setup the stopword

[2018-11-26 13:31] ChicoXYC commented on #111
modified

[2018-11-26 13:37] ChicoXYC commented on #111
try to change communities value

[code]

for another question, I will try my best updating the explanation.

[2018-11-26 13:42] ChicoXYC commented on #108
Closed.
Similar issues #102 #93
Please refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-jupyter.md#display-charts-in-nbviwer).

[2018-11-26 13:42] #108 closed

[2018-11-26 14:53] #97 closed

[2018-11-26 14:53] hupili commented on #87
https://python-graph-gallery.com/292-choropleth-map-with-folium/

A project on the same topic but different library. FYR.

[2018-11-26 15:40] SerenaQYHuang commented on #111
It doesn't work. Instead, a new problem occurred.

![image](https://user-images.githubusercontent.com/41979788/49024463-77331f80-f1d4-11e8-9ea7-4bf4e15f88ee.png)

Actually the previous error didn't occur here but in the last several lines:
[code]

[2018-11-26 17:58] hupili commented on #109
@FLYSTEPHEN , file location can refer to [this comment](https://github.com/hupili/python-for-data-and-media-communication-gitbook/issues/109#issuecomment-441618735)

[2018-11-26 18:01] #107 closed

[2018-11-26 18:05] hupili commented on #112
`CERTIFICATE_VERIFY_FAILED` is a common bug signature in CVA. Please do more test and pin down the problem scope. Once confirmed, please add to FAQ.

The 3rd problem has nothing to do with `os.listdir`. It is related with `open` file with "text mode" (default), whose encoding is not the same as system default encoding. You need to produce a minimum viable example, i.e. opening that single file lea

[2018-11-27 08:18] elusiveburglar commented on #69
Sorry, I have switched another website so I didn't follow up.

[2018-11-27 09:01] 18426425 commented on #76
Yes, thanks a lot, I have already solved the problem, "if...else" works, only if I delete a line of for loop:
**def get_country(x):
    if len (x) > 15:
        return x.split('(')[1].split(')')[0]
    else:
        return''
df['country'] = df['time_countries'].apply(get_country)
df**

and here is the whole codes:
https://github.com/18426425/myexercise/blob/master/Assignment1%20Maoyan%20Movietest.

[2018-11-29 08:53] hupili commented on #82
@ChicoXYC , following maps can be added to the case study section:

- [ ] http://nbviewer.jupyter.org/github/kaiwenxu94/python-data-assignments/blob/master/assignment2/Assignment2-v2.ipynb  -- note that the map on NBViewer is not interactive, one can "open in new tab" to see the interactive version.

If you find other maps drawn by new libraries (not covered by our current case study), feel free t

[2018-11-29 14:46] ChicoXYC commented on #112
after two more windows users and 1 mac users test, the results is still the same.

[2018-11-29 14:52] ChicoXYC commented on #111
After talking with @SerenaQYHuang privately, we just solved the problem. Just upgrade the `networkx` module from 2.0 to 2.2

[2018-11-29 14:52] #111 closed

[2018-11-30 03:47] ChicoXYC commented on #112
the first two issues.

[2018-11-30 04:44] hupili commented on #112
@ChicoXYC what is the conclusion? Is CVA the only factor leading to the error?

[2018-11-30 09:51] lullabymia opened #116 "How to scrape PDF from CNKI"
# Troubleshooting

## Describe your environment

* Operating system: mac
* Python version: 3.7
* Hardware: macbook
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?: chapter 6

## Describe your question

I want to scrape the whole PDF text from people's daily in CNKI but have no idea how to do it. Do I need to download all the articles?
Website:
(one article)http://kn

[2018-11-30 10:32] CathyChang1996 opened #117 "How to find the same string in different lists?"
# Troubleshooting

## Describe your environment

* Operating system:MacOS 10.13.6
* Python version:3.7
* Hardware: MacBook Pro
* Jupyter notebook or not? [Y/N]: Y

## Describe your question

I have a column in a dataset called 'location', and every row of it is a whole string, I want to transform it into a 'list' and try to find out if there is any overlap strings in different rows.

How to get th

[2018-11-30 15:43] FLYSTEPHEN opened #118 "How to set colours when we draw a chart？"

[2018-11-30 15:51] hupili commented on #116
@lullabymia , does the medium article work? Seems it included a complete example to extract text from PDFs.

[2018-11-30 15:53] hupili opened #119 "simplify the bar chart example"
@ChicoXYC , please remove the palette parameter from our entry level examples. Following appeared very common in student works. Most color gradient in their work does not carry information. We keep it simple as a start.

<img width="1200" alt="screenshot 2018-11-30 at 11 50 22 pm" src="https://user-images.githubusercontent.com/1227160/49299541-ed989000-f4fa-11e8-8369-cf3359cd9401.png">

[2018-11-30 15:56] hupili commented on #117
Quick notes here:

- Use `eval` to turn a Python-notation string of objects into real Python objects
- Use `set()` for set intersection

[2018-11-30 15:57] #25 closed

[2018-11-30 15:58] #20 closed

[2018-11-30 15:59] hupili commented on #81
- [ ] A bipartite graph dataset @ChicoXYC
- [ ] Notes and examples (above; wechat egonet) of bipartite graph @hupili

[2018-11-30 16:02] hupili commented on #82
@ChicoXYC

- [ ] This screenshot is too large. Can adjust aspect ratio: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-13.md#england-and-ireland-pubs-using-matplotlib

[2018-11-30 16:28] hupili opened #120 "Add pyecharts.WordCloud example to week 10"
[pyecharts.WordCloud](https://pyecharts.org/#/zh-cn/charts_base?id=wordcloud%EF%BC%88%E8%AF%8D%E4%BA%91%E5%9B%BE%EF%BC%89)  can be added as an alternative method in tag cloud viz of week 10. The benefit is to get rid of matplotlib Chinese issue.

[2018-11-30 16:34] hupili opened #121 "Add sort_by more than 1 columns with different ascending/ descending"
[This example](https://nbviewer.jupyter.org/github/ZhangHuimin97/python-data-assignments/blob/master/assignment2/analysis.ipynb#2.In-a-sense,-the-amount-of-comments-shows-the-popularity.-But-if-we-want-to-find-a-cheap-room-with-higher-popularity,-what-we-will-do?) is good.

<img width="1202" alt="screenshot 2018-12-01 at 12 33 11 am" src="https://user-images.githubusercontent.com/1227160/49301972-

[2018-11-30 16:38] FLYSTEPHEN commented on #118
I just solved it...I found some solutions online.
For instance, if we draw a simple chart like this.
[code]
Output:
<img width="396" alt="screenshot 2018-12-01 at 00 16 12" src="https://user-images.githubusercontent.com/42834869/49301632-08b9ce80-f500-11e8-9248-d5b6acacb4ba.png">
- The question actually is how to replace `'Blues'` in `cmap='Blues'`

1. Use built-in colormaps
[code]
Output:
[code]

[2018-11-30 16:49] FLYSTEPHEN commented on #118
BYW we can use these lines to check the name of basic colours, we may need them to construct a colormap.
[code]

[2018-11-30 17:12] hupili commented on #118
This issue is worth a stand alone tutorial. 👍 . Let's keep it in "discussion" tag first, in case others meet similar problems. We can come back to consolidate materials later.

[2018-11-30 17:13] hupili commented on #69
Looks like coding error, instead of the usage of Youtube API. This issue is not for further discussion. Closing.

[2018-11-30 17:13] #69 closed

[2018-11-30 17:38] hupili opened #122 "A case of co-occurrence network"
This is a good case of co-occurence network:

http://nbviewer.jupyter.org/github/ivyWANG958/python-data-assignments/blob/master/assignment2/GoogleAnalysis.ipynb

We already have demo of text+time. This is a case of text+network. We have one more piece of the Jigsaw puzzle.

[2018-11-30 17:47] hupili opened #123 "Add matplotlib data annotation to week 09"
Ref example: https://nbviewer.jupyter.org/github/DaisyZhongDai/hkbu-big-data-media/blob/master/homework3/Top%20200%20online%20novels.ipynb

[2018-11-30 18:04] hupili opened #124 "Pagination using HTTP header information"
GitHub API has a special design. It returns the pagination information via HTTP header. Sometimes, one can not directly construct page skip URLs but one can continuously to "scroll back".

Example API: https://api.github.com/users/hupili/events/public?per_page=1

<img width="1072" alt="screenshot 2018-12-01 at 2 02 19 am" src="https://user-images.githubusercontent.com/1227160/49306530-60126b80-f50

[2018-11-30 18:05] hupili commented on #124
Typical fail example:

https://api.github.com/users/hupili/events/public?page=400&per_page=1

<img width="630" alt="screenshot 2018-12-01 at 2 05 07 am" src="https://user-images.githubusercontent.com/1227160/49306568-8afcbf80-f50d-11e8-8b00-4acea39b11e4.png">

[2018-12-01 08:41] lullabymia commented on #116
I followed the instruction in the article. But it seemed that I cannot install textract at the beginning.
<img width="818" alt="2018-12-01 4 37 42" src="https://user-images.githubusercontent.com/42403858/49326086-b15f4100-f587-11e8-8537-6e346bcc7fef.png">

<img width="791" alt="2018-12-01 4 37 55" src="https://user-images.githubusercontent.com/42403858/49326096-d81d7780-f587-11e8-9fc2-16025c9bb395

[2018-12-01 09:39] ChicoXYC commented on #116
@lullabymia  How many files you have? Maybe you can send to me, I will help you doing OCR with tools like `filereader ocr`

[2018-12-01 09:51] ZhangNingNina opened #125 "An issue about website scraping"
# Troubleshooting

## Describe your environment

* Operating system:OS
* Python version:3
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:Week6

## Describe your question

请问如何抓取浮窗内容呢？（是鼠标移动到某个位置才会出现的浮窗，如果将鼠标移开那个位置浮窗就消失了）
这种浮窗内容在F12的源码中是没有的，所以不知道怎么抓取……
Could someone helps me! Thanks so much! @hupili @ChicoXYC

## The minimum code (snippet) to reproduce th

[2018-12-01 12:56] lullabymia commented on #116
We might need to scrape thousands of PDF files in this website http://navi.cnki.net/KNavi/NPaperDetail?pcode=CCND&bzpym=RMRB (at least from Jan 1, 2008-June 31, 2008 )
Do I need to download all the PDF before scraping?
@ChicoXYC

[2018-12-01 15:01] ChicoXYC commented on #125
@ZhangNingNina can you give me the example code of what you want to scrape?

[2018-12-01 16:30] ChicoXYC commented on #124
try to understand and figure out the api, but still cannot get more than 300, may need your further instruction, Thanks --> https://github.com/hupili/github-activies/blob/master/github_activity.ipynb

[2018-12-01 16:39] ChicoXYC commented on #116
I also tried above method mentioned in medium, cannot proceed more now with installing module. Will try later.

[2018-12-02 06:55] CathyChang1996 opened #126 "Can't scrape all data from all pages"
# Troubleshooting

## Describe your environment

* Operating system:OS
* Python version:3.7
* Hardware: Macbook
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?:

## Describe your question

I found that when I scrape the pages in mafengwo, the code cannot completely go through all the pages. Here is the page link:http://www.mafengwo.cn/wenda/u/5017124/answer.html

The

[2018-12-02 09:57] CathyChang1996 commented on #126
Thanks a lot!!  Hope this time would work!!

[2018-12-02 09:59] iiiJenny commented on #125
学长，这个办法貌似不适应。我们遇到的苦难是，某个信息需要鼠标移到某一点才出现信息框，比如：
![image](https://user-images.githubusercontent.com/42435100/49338420-c86f6300-f65b-11e8-919e-31e96679fa95.png)
但是，这个信息没有办法点击出来，网页代码也找不到诶
![image](https://user-images.githubusercontent.com/42435100/49338428-e210aa80-f65b-11e8-91fd-8072d514a5ac.png)
@ChicoXYC

[2018-12-02 15:38] ChicoXYC commented on #125
@iiiJenny in that case, I think we can use another way to scrape.
<img width="1139" alt="screen shot 2018-12-02 at 11 28 11 pm" src="https://user-images.githubusercontent.com/37010763/49341588-56fad900-f68a-11e8-957a-1fb2378eb4aa.png">

<img width="1180" alt="screen shot 2018-12-02 at 11 28 41 pm" src="https://user-images.githubusercontent.com/37010763/49341632-4e56d280-f68b-11e8-869d-5c472a6a1195

[2018-12-03 03:48] ChicoXYC commented on #121
multiple sort_values already exist in the week 7. with the following usage:

[code]

[2018-12-03 03:58] ChicoXYC commented on #119
Update, please see here: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-09.md#basic-usage-1

[2018-12-03 04:50] ChicoXYC commented on #120
Added into notes, please refer here:https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-10.md#wordcloud-with-pyecharts

[2018-12-03 05:37] CathyChang1996 opened #127 "How to scrape all the data in a page with infinite scrolling"
# Troubleshooting

## Describe your environment

* Operating system:OS
* Python version:3.7
* Hardware:Macbook
* Internet access:
* Jupyter notebook or not? [Y/N]:Y
* Which chapter of book?: W6

## Describe your question

When I tried to scrape all the location names in a page, I found it should be with a infinite scrolling process to get all the information, how to make it happen?

## The minimum

[2018-12-03 05:38] CathyChang1996 commented on #127
url = ['http://www.mafengwo.cn/u/69932798/review.html']

[2018-12-03 08:48] CathyChang1996 commented on #127
Problem solved! Thanks a lot!

[2018-12-03 15:05] hupili commented on #127
Although the problem is solved, I leave an alternative solution here: https://github.com/hupili/python-for-data-and-media-communication/blob/master/scraper-examples/mafengwo-xhr.ipynb

Crawling by network trace analysis and XHR is also common. However, the analysis is case by case so we only [briefly mentioned in the notes](https://github.com/hupili/python-for-data-and-media-communication-gitbook/

[2018-12-03 15:08] #119 closed

[2018-12-03 15:21] hupili commented on #121
I [restructured sectioning](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-07.md#sorting-dataframesort_values). The content is intact. Please proof-read and then close the issue.

[2018-12-03 15:30] hupili commented on #124
what is the error when you reach 300?

p.s. above URL is invalid.

[2018-12-03 15:37] FLYSTEPHEN opened #128 "How to collaborate with teammates on GitHub without limitation of authorisation"
To be more specific, how can we authorise our teammates to merge a request freely without the confirmation from the owner of a repository? I mean that the team members can edit a repository as its owner without any limitation.

[2018-12-03 15:54] hupili commented on #128
<img width="1014" alt="screenshot 2018-12-03 at 11 54 05 pm" src="https://user-images.githubusercontent.com/1227160/49384788-bd4d2d80-f756-11e8-8071-f020b7ffc6d6.png">

[2018-12-04 09:11] hupili commented on #124
example: https://api.github.com/users/hupili/events/public?per_page=10&page=10

[code]

[2018-12-04 14:11] hupili opened #129 "Add project information and links to the class page"
- [x] S2018, can find forked copy here: https://github.com/data-projects-archive/
- [x] F2018, can add their original repo address first. After the final report due date, we fork to data-projects-archive for archiving purpose.
- [x] Add quick reading pointer.

[2018-12-05 11:18] Graceyit opened #130 "The words were blocked in the pyecharts"
# Troubleshooting

## Describe your environment

* Operating system: Mac
* Python version: 3.6
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?:  9

## Describe your question

The words at the bottom were blocked.
![2018-12-05 4 19 59](https://user-images.githubusercontent.com/42536058/49509994-f950d180-f8c1-11e8-8946-14b67ec23018.png)

## The minimum cod

[2018-12-05 13:09] hupili commented on #130
Does the following example solve your issue?

https://nbviewer.jupyter.org/github/hupili/python-for-data-and-media-communication/blob/master/pyecharts-examples/pyecharts-resize.ipynb?xfffcachffffxsdfsdffffxffe#Change-graph-size-and-display-in-NBViewer

[2018-12-05 13:57] AlexZenghuashan opened #131 "No error, but the pyecharts map can't display"
# Troubleshooting
## Describe your environment
* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y

## Describe your question
No error, but the pyecharts map can't display.
![image](https://user-images.githubusercontent.com/42838093/49517940-58214580-f8d8-11e8-8cec-03eac0df5030.png)
I have already install the maps.
![image](https://user-images.gi

[2018-12-05 14:30] AlexZenghuashan opened #132 "Pyecharts 多个饼图"
# Troubleshooting

## Describe your environment
* Operating system:
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:Y

## Describe your question
Pyecharts 多个饼图，按照http://pyecharts.org/#/zh-cn/charts_base的教学无法成功显示。
![image](https://user-images.githubusercontent.com/42838093/49519897-0929df00-f8dd-11e8-97fa-15b8fa4556c3.png)
如果我define了Style
![image](https://user-imag

[2018-12-05 14:41] ChicoXYC commented on #132
@AlexZenghuashan Its the pyecharts problem. You may solve the problem by add this line at the beginning

[code]
![image](https://user-images.githubusercontent.com/37010763/49520723-df71b780-f8de-11e8-854d-4a9e65d7d9c2.png)

[2018-12-06 04:08] AlexZenghuashan commented on #132
Problem is solved. Thank you!

[2018-12-06 04:08] #132 closed

[2018-12-07 03:13] Rita0719 opened #133 "we want to use nbviewer for presentation"
我们想利用jupyter notebook nbviewer进行展示。出于美观考虑，请问如何将nbviewer上的图片或是表格居中？

[2018-12-07 04:16] hupili commented on #133
no easy way. you may need to write CSS or Javascript to make that happen.

[2018-12-07 06:33] hupili opened #134 "add pyecharts map case to week13 gallery"
https://github.com/CathyChang1996/Behavior-trend-of-self-service-travelers/blob/master/%E7%83%AD%E9%97%A8%E7%9B%AE%E7%9A%84%E5%9C%B0%E5%92%8C%E6%97%B6%E9%97%B4%E5%8F%98%E8%BF%81.ipynb

[2018-12-12 05:45] lullabymia commented on #116
Besides of the above reading error, I cannot click the link of "download pdf" in the webpage
(and it seems that when I paste the link, it will download caj instead of pdf)
http://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CCND&filename=RMRB201812110011&dbname=CCNDCOMMIT_DAY&uid=WEEvREcwSlJHSldRa1FhdXNXa0d1ZzF6aU1NNVIrL0tTbXlSS3lURW1FWT0=$9A4hF_YAuvQ5obgVAqNKPCYcEjKensW4IQMovwHtwkF4VYPoHbKxJw!!
<i

[2018-12-12 10:35] ChicoXYC commented on #116
@lullabymia You need use selenium instead of requests method to find elements. The following will help

[code]

[2018-12-12 10:51] ChicoXYC commented on #116
@lullabymia
[code]

[2018-12-12 11:41] lullabymia commented on #116
Clicking pdf worked and thank you! But the error called "Multiple definitions in dictionary at byte 0xcd34 for key /MediaBox" appeared again while reading pdf files.  :(
<img width="823" alt="2018-12-12 7 38 21" src="https://user-images.githubusercontent.com/42403858/49867542-cff5ef80-fe45-11e8-96bc-b7f9d575eda5.png">
<img width="746" alt="2018-12-12 7 38 50" src="https://user-images.githubusercon

[2018-12-12 12:10] ChicoXYC commented on #116
@lullabymia
1. checkout whether only pdf files are in the folder.
2. plz don't leave blank space in the folder name.
3. If it doesn't work, you can find me in the cva 808 to work out face to face.

[2018-12-13 07:20] ChicoXYC opened #135 "fail to read Chinese words pdfs with decoding error"
Target: We want to extract all the text from thousands of pdfs.

Problem: Decoding problem - Cannot read pdfs with Chinese words

Following are the trying examples we have made so far, but there is some encoding error, you can refer the following for details
http://nbviewer.jupyter.org/github/ChicoXYC/exercise/blob/master/get-text-from-pdf/read-chinese-pdf-with-encoding-error.ipynb

the pdfs can b

[2018-12-13 07:20] lullabymia commented on #135
@hupili Could you please help us ?

[2018-12-14 03:48] hupili commented on #135
may try other tools like “pandoc”

[2018-12-14 04:49] Jasmine-dudu opened #136 "How to display a dynamic chart completely? [pyecharts render relative (percentage) width/ height]"
# Troubleshooting

## Describe your environment

* Operating system: MacOS 10.13.6
* Python version: 3.7
* Hardware: MacBook Pro

## Describe your question

We want to display a dynamic chart related to "Type top 10 apps" (the link: [https://github.com/Jasmine-dudu/Big-Road/blob/master/Type%20top10%20Apps.html](url) ) in the web page. However, we fail to show it completely like a static chart.

![

[2018-12-14 08:52] hupili commented on #136
@Jasmine-dudu  , here is the solution:

https://nbviewer.jupyter.org/github/hupili/python-for-data-and-media-communication/blob/master/pyecharts-examples/pyecharts-resize.ipynb#Responsive-output-for-pyecharts

When you initialise the pyecharts object, give it a relative width/ height number, e.g.

[code]

The HTML files rendered in this way can fit into Big Road responsive chart area easily.

[2018-12-14 09:35] hupili commented on #128
@ConnorLi96 do you want to send a PR to week00 notes? May use it as an exercise to get familiar with GitHub collaboration. @FLYSTEPHEN have done that before. You can discuss if there is any problem.

[2018-12-14 10:15] lullabymia commented on #135
Does pandoc also accept files in commonmark, creole, docbook, docx, epub, fb2, gfm, haddock, html, jats, json, latex, man, markdown, markdown_github, markdown_mmd, markdown_phpextra, markdown_strict, mediawiki, muse, native, odt, opml, org, rst, t2t, textile, tikiwiki, twiki, vimwiki
(no pdf)
<img width="1081" alt="2018-12-14 6 10 12" src="https://user-images.githubusercontent.com/42403858/4999704

[2018-12-14 10:23] ZhangHuimin97 opened #137 "Cannot use spacy.load('zh') to install model for no shortcut link"
# Troubleshooting

## Describe your environment

* Operating system:
cva517
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
Y
* Which chapter of book?:
Topic modelling

## Describe your question

Example: I cannot load any packages from spacy.lang. I cannot use shortcut links to find the file. If I set up a link for the model, it will remind me that the meta.json

[2018-12-15 14:07] ChicoXYC commented on #137
@ZhangHuimin97
does this help? I found this in their test example :https://github.com/howl-anderson/Chinese_models_for_SpaCy/blob/master/test.py
[code]

[2018-12-15 14:34] ChicoXYC commented on #135
I‘ve already tried this method before, and tested it again today, didn't work out.

[code]

error:
[code]
and

[code]

[2018-12-15 14:35] hupili commented on #135
how about importing pdfminer alone?

[2018-12-15 14:40] ChicoXYC commented on #135
Yes, I tried this module alone. Same problem above. Didn't work out for Chinese

[2018-12-15 15:51] hupili commented on #135
do you mean pdfminer works for English?

[2018-12-16 04:42] FLYSTEPHEN commented on #118
Just a little finding.
- Sometimes we don't need to create a brand new colormap but adjust the original ones. e.g. The colormap `Blues_r` ends with an almost pure white, which means a display problem on white backgrounds:
![blue_r](https://user-images.githubusercontent.com/42834869/50050105-a0890080-012d-11e9-8f5e-70022b597831.png)
- We can use this lines to change some certain parts of a default

[2018-12-17 02:49] ChicoXYC commented on #135
NO. english don't work either. It seems that the module function has been changed and I haven't found the answer. But pypdf2 works for English.

[2018-12-17 03:05] ChicoXYC commented on #81
@hupili sir, can you explain what is "A bipartite graph dataset"? What should I do?

[2018-12-17 03:06] hupili commented on #81
ignore “bipartite”. It is a graph. make node and edge tablea

[2018-12-18 04:17] ChicoXYC commented on #82
update

[2018-12-18 04:17] ChicoXYC commented on #81
update

[2018-12-18 05:05] ChicoXYC commented on #76
merged into notes, please refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/frequently-asked-questions.md#data-extraction---slice-elements-when-one-of-them-may-be-none).

[2018-12-18 11:52] ChicoXYC commented on #127
Closed. Merged this issue into FAQs, please refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-selenium.md#infinite-scroll-in-a-single-page).

[2018-12-18 11:52] #127 closed

[2018-12-18 11:53] ChicoXYC commented on #137
@ZhangHuimin97 has your problem solved?

[2018-12-18 11:58] ChicoXYC commented on #136
Closed. Merged this issue into notes, you can refer [here](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-11.md#integrated-exercise-publish-a-full-work-in-a-stand-alone-page).

[2018-12-18 11:58] #136 closed

[2018-12-18 12:12] ChicoXYC commented on #134
they changed the url and tietle. Do you mean this map? ![image](https://user-images.githubusercontent.com/37010763/50153310-0d082900-0301-11e9-8204-335a4460243b.png)

[2018-12-18 12:15] ChicoXYC commented on #130
@Graceyit has your problem solved?

[2018-12-18 12:17] #126 closed

[2018-12-18 12:20] #76 closed

[2018-12-18 12:21] Graceyit commented on #131
The method to solve the problem is to add this line of code: from pyecharts import Style.
The problem has been solved. Thank you!

[2018-12-19 01:42] hupili commented on #129
For each project entry, we need to add a quick reading pointer. Some readers of that page may not be technology literate. We help them to jump into the very last "final report" directly. Those who want to explore more can checkout the repo for details. Since every repo has different structure, it may take some time to figure out the best reader's file -- it can be a PDF of final report, an NBViewe

[2018-12-19 06:07] ChicoXYC commented on #129
ok. for f2018, most of them have web pages, it's easy to leave some content guide here, but for s2018, most of them only have ppt, which cannot display directly in GitHub. If there is no better without code version, I will just leave the ppt version link.

[2018-12-19 10:04] ChicoXYC commented on #129
update [F2018](https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/session-F2018.md#projects)

[2018-12-25 13:51] hupili commented on #129
The style can be slightly improved. For example, the two second level bullet point list can be simplified to following links at the end of line.

[code]

Rendered as follows:

[[Story]](https://catmint1215.github.io/) | [[Codes]](https://github.com/data-projects-archive/201812-BigData-final-project-GoogleAppStore)

[2018-12-25 13:54] hupili commented on #130
The code is not reproducible. @ChicoXYC , please try to get the data that produces this case. Without content loaded in `df` or `tf`, the chart can not be reproduced. After that, please check if my link solves the issue. Let me know if that still doesn't work

[2018-12-25 13:55] hupili commented on #134
Yes.

[2018-12-25 13:56] hupili commented on #137
This is too specific. We'll get back if someone else encounter this problem in the future.

[2018-12-25 13:56] #137 closed

[2018-12-25 13:59] #82 closed

[2018-12-26 02:46] hupili commented on #103
@ChicoXYC , how's this going? Now the chapter is restructured, we can check all cross referencing links.

[2018-12-27 12:11] hupili commented on #129
This line is in different format. Please unify.

This is minor issue and you can fix right after get this message. I'll close first.

[2018-12-27 12:11] #129 closed

[2018-12-27 12:20] ChicoXYC commented on #129
update. Sorry about that

[2018-12-27 13:30] ChicoXYC commented on #103
@hupili
* fixed invalid URLs and changed the URLs corresponding to the new structure in chapter 0-18.
* changed URLs to the internal URLs if existing in the Openbook

[2018-12-29 07:42] Graceyit commented on #130
I am really sorry that I reply you so late. And I have tried again the code you gave me but I do not know if I am right.It seems that the problem doesn't be solve.
<img width="1015" alt="2018-12-29 3 33 12" src="https://user-images.githubusercontent.com/42536058/50534982-684ade80-0b7f-11e9-9599-534940781e85.png">
<img width="760" alt="2018-12-29 3 33 24" src="https://user-images.githubusercontent.

[2018-12-29 11:45] hupili commented on #130
@Graceyit can you provide the following information?

- Export `df` using `df.to_csv` and then upload the file here (drag and drop to the issue comment box)

[2018-12-29 11:46] hupili commented on #130
It also works if you can link to your project repo where we can find this data file.

[2019-01-01 09:37] Graceyit commented on #130
OK pili, here is the code
[code]
but I didn't put this code in the final project
https://github.com/Graceyit/BigData-Final-Project-woshipm.com/blob/master/Data%20analysis%20P1/Data%20Analysis%20P1.ipynb

And this link is the data file.
https://github.com/Graceyit/BigData-Final-Project-woshipm.com/blob/master/Data%20analysis%20P2/haha.csv

[2019-01-03 07:31] ChicoXYC commented on #134
UPDATE https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-15.md#tourists-footmark-of-domestic-tourist-cities

[2019-01-03 07:46] ChicoXYC commented on #133
Closed now, we will reopen if encountered similar problems.

[2019-01-03 08:43] ConnorLi96 commented on #128
Sorry, there were too many messages from Github recently, I didn't notice the mail reminder. I'll send a PR as soon as possible.

[2019-01-04 03:21] ivyWANG958 commented on #133
There is a way to (use Jupyter Notebook as PPT) [https://www.zhihu.com/question/59392251/answer/521110079]

[2019-01-04 07:20] hupili opened #138 "datetime conversion"
`pd.to_datetime` is a simpler entry point. Though, learning the underlying `datetime` module is still valuable.

[2019-01-07 09:55] ChicoXYC commented on #121
multiple sorting https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-09.md#sorting-dataframesort_values

[2019-01-07 09:55] #121 closed

[2019-01-07 09:59] ChicoXYC commented on #77
Question is not clear, closed for now and will be reopened if necessary.

[2019-01-07 09:59] #77 closed

[2019-01-07 10:05] ChicoXYC commented on #84
Q1:
@ConnorLi96 adjust the fig size will help, like you can see the changes in the following:
[code]
![image](https://user-images.githubusercontent.com/37010763/50761925-9084bc80-12a6-11e9-83e4-befd0e3dab76.png)
[code]
![image](https://user-images.githubusercontent.com/37010763/50761973-aa260400-12a6-11e9-889c-92acfe2664fb.png)

if not, please leave your codes here, and I will test more.

[2019-01-08 13:24] ivyWANG958 opened #139 "failed to open url with urllib.request"
# Troubleshooting

## my environment

* Operating system: ios
* Python version: 3.7
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?: notes-week-07

## my question

I could not open url using `urllib.request` library

## The minimum code (snippet) to reproduce the issue

[code]
URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issu

[2019-01-08 15:18] hupili commented on #139
Seems CVA network problem. Do you have the same problem when testing in other places?

[2019-01-08 15:32] ivyWANG958 commented on #139
Yes, I test at home, the error message is: `URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:777)>`

[2019-01-09 00:51] hupili commented on #139
It's Ok at my side. It's likely you are behind firewalls.

[2019-01-09 02:01] hupili commented on #133
Excellent. I re-open this thread and mark as discussion.

@ivyWANG958 have you tested this yourself?

[2019-01-09 02:21] hupili opened #140 "TODO marks in the source code"
[code]

[2019-01-10 06:37] ChicoXYC commented on #140
frequently-asked-questions.md:37:
frequently-asked-questions.md-38-
frequently-asked-questions.md-39-### Setup virtual venv and install Jupyter Notebook
frequently-asked-questions.md-40-
--
frequently-asked-questions.md:43:
frequently-asked-questions.md-44-
frequently-asked-questions.md-45-### Install modules in venv, it's equivalent to install in Jupyter
frequently-asked-questions.md-46-

0cc939f

[2019-01-11 06:56] hupili commented on #139
Since this is network problem, you need to bypass the walls on the pathways. Using a proxy will help. `urllib` and `requests` allows to configure a proxy in the parameters. Depending on your network situation, you may find different proxy providers. Just search "HTTP proxy", "SOCKS proxy", etc

[2019-01-11 07:01] hupili commented on #133
@ivyWANG958  it's awesome pointer! Keep sharing if you find anything useful to our community.

I just incorporate this tool into one section: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-11.md#bonus-slide-show-presentation

@Rita0719 , `RISE` does not solve your original issue but is worth checkout if you find similar demands next time.

[2019-01-11 07:03] hupili commented on #140
@ChicoXYC how about other comments?

[2019-01-11 11:02] ivyWANG958 commented on #139
Thanks for the pointers, will do accordingly.

[2019-01-11 11:02] #139 closed

[2019-01-11 14:02] ChicoXYC commented on #140
@hupili other todos related new example needs more time, the theory/concept is a little bit new and takes more time.

[2019-01-14 09:58] #103 closed

[2019-01-15 03:16] ChicoXYC commented on #140
Pending:

frequently-asked-questions.md-148-
frequently-asked-questions.md-149-## Data extraction - slice elements when one of them may be None
frequently-asked-questions.md-150-
--

need to further discuss this error.

--

notes-week-11.md-388-
notes-week-11.md-389-### Charts
notes-week-11.md-390-

need to further learn ggplot

notes-week-14.md-334-
notes-week-14.md-335-#### Clustering coefficien

[2019-01-15 03:31] #123 closed

[2019-01-15 03:33] #120 closed

[2019-01-15 03:34] #117 closed

[2019-01-15 03:46] ChicoXYC commented on #84
add into matplotlib faq

[2019-01-15 05:45] ChicoXYC commented on #112
the first two issues are related to the network in CVA and different protocols of the different operating system, which may need further discussion once encountered. And the `os.listdir` issue is related to encoding&decoding.

[2019-01-15 05:57] ChicoXYC commented on #84
Merged into FAQs:https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/module-matplotlib.md#characters-overlapping-in-text-marker

[2019-01-15 06:08] ChicoXYC commented on #125
@ZhangNingNina have you solved the problem?
One solution is that you can format those sub-category links.
![001](https://user-images.githubusercontent.com/37010763/51161731-9134d880-18ce-11e9-99b8-627d8b4afb9d.jpg)
Like the above example:
the link of `java` is `https://www.zhipin.com/c101010100-p100101/`
and the link of `c++` is `https://www.zhipin.com/c101010100-p100102/`
you can find that, only

[2019-01-15 15:41] ZhangNingNina commented on #125
Sorry for my late reply. We've tried it and found this method worked. Thank you so much!!!

[2019-01-18 08:38] ConnorLi96 commented on #128
@ChicoXYC Sorry for late, I just sent Pull Request.

[2019-02-26 05:20] ivyWANG958 opened #142 "how to jump to next page in centaline property"
# Troubleshooting

## Describe your environment

* Operating system: ios
* Python version: 3.0
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?: ch7

## Describe your question

Cannot jump to the next page in [centaline property](http://hk.centanet.com/findproperty/zh-HK/Home/SearchResult?posttype=S&src=F), attached with the pageing source.

<img width="3

[2019-02-26 06:17] hupili commented on #142
can you print the “loadMoreButton”? See if the element is correctly located and selected.

[2019-02-26 06:26] hupili commented on #142
more details helps, eg the content of the element, its location, etc. Also, try the find elements (plural) version of the methods to see if more elements matched the CSS selector. Sometimes, you matched more. So the script clicked some other elements.

[2019-02-26 06:55] ivyWANG958 commented on #142
It yields `invalid selector: Compound class names not permitted`, I follow the trick [here](https://stackoverflow.com/questions/37771604/selenium-compound-class-names-not-permitted) solved this problem.

[2019-02-26 06:57] ivyWANG958 commented on #142
But another error occured `NewConnectionError('<urllib3.connection.HTTPConnection object at 0x10d9766a0>: Failed to establish a new connection: [Errno 61] Connection refused'`.

I am wondering, instead of trying to click the button, is there other way to go to next page?

[2019-02-26 09:59] hupili commented on #142
You can also try to to conduct network trace analysis —- some cases in our “advanced scraping” chapter, the open book

[2019-02-27 02:31] hupili commented on #142
@ivyWANG958 , this is the section on network trace analysis: https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/notes-week-08.md#analyse-network-traces

[2019-03-06 07:16] hupili opened #143 "termtosvg may be useful for ch00 on Terminal/ Shell"
https://mp.weixin.qq.com/s/GGoVr8k95-z6XD35dQo-uA

[2019-03-20 10:06] hupili opened #146 "Fix per-chapter TOC in exported HTML/PDF"
<img width="1257" alt="Screenshot 2019-03-20 at 6 02 45 PM" src="https://user-images.githubusercontent.com/1227160/54675907-7551eb00-4b3a-11e9-88b3-2ccd54208f17.png">

The branch: https://github.com/hupili/python-for-data-and-media-communication-gitbook/tree/gitbook

[2019-04-07 23:32] ivyWANG958 opened #147 "clustering - Kmeans, Agglomerative, and DBSCAN"
# Troubleshooting

## Describe basic

* Which chapter of book?: Ch 11

## Describe your question

For a data set with 100 records, for all K value in 1<= K <= 100, the K-means clustering algorithm returns only one non-empty cluster. Incremental version of K-means returns exact same result. How is this possible?

And would single link and DBSCAN handle such data?

## Describe the efforts you have s

[2019-04-08 00:41] hupili commented on #147
Sounds like a case where:

* Data points are too close to each other, relatively speaking, compared with the distance between centroid.
* One centroid captures all the data points at a glance and updates itself to the centre of those points; while all other centroid has no data to update themselves.

Without looking at the exact data, you can try the following methods:

# Normalise all the records

[2019-04-08 01:22] ivyWANG958 commented on #147
In `sklearn.cluster.KMeans` if set `( init=’random’)`, seems the centroid will be randomly picked. And if random to choose centroids and run for many times but obey the same result, I guess it rules out the possibility that the distance between data points is smaller than the distance between centroid, because it's already random.

Looks like there left only one situtation that there is no distanc

[2019-04-08 05:01] ivyWANG958 commented on #147
If the dataset has infinite many data points, seems under some distance constrictions the data shape like Paraboloid may result in just only one non-empty cluster. But for the dataset with limited data points, it's unlikely to have the result.

[2019-04-29 14:59] CathyChang1996 commented on #104
Pyecharts has upgraded its version to 1.0.0 and it added new functions to set diverse options, such as legend and axis. To solve this problem, we can use the following code:
[code]

[2019-05-11 16:18] iiiJenny opened #148 "How to put User-Defined Image into the scatter diagram"
## Describe your question
在画散点图时，无法将点的形状设置为自定义图片（并设置图片的像素大小）

目前画的图如下：
![10](https://user-images.githubusercontent.com/42435100/57572186-84be2800-7449-11e9-917e-3f2923320da2.png)

希望将下图“全部完成”替换“绿色的9个不同位置的点”，像素设置为532 × 140，并覆盖在其他蓝色点上（可以覆盖一部分）
![长条按钮480](https://user-images.githubusercontent.com/42435100/57572198-98698e80-7449-11e9-9e36-d9b8de58989e.png)

## code
（以下代码只给出了绿色点）
[code]

![长条按钮480](htt

[2019-05-11 16:25] iiiJenny commented on #148
最后希望呈现的效果大致是这样～
（图片像素大小为：532 × 140）
![image](https://user-images.githubusercontent.com/42435100/57572392-20509800-744c-11e9-8fcc-28eb8ba3699e.png)

[2019-05-11 16:25] hupili commented on #148
It is good to have some sample data -- you can generate some random ones if the data is commercial secret.

[2019-05-11 16:36] iiiJenny commented on #148
[code]

### 数据
[https://github.com/iiiJenny/hotzone/blob/master/cleaning_10.csv](url)

[2019-05-11 17:09] hupili commented on #148
<img width="1071" alt="Screenshot 2019-05-12 at 1 05 16 AM" src="https://user-images.githubusercontent.com/1227160/57572808-5bee6080-7452-11e9-8847-75ae464ceeeb.png">

Please find the solution here: https://github.com/hupili/python-for-data-and-media-communication/tree/aa79079abbf790373a2a49f996642b54e5ac3dc5/matplotlib-examples

[2019-05-11 17:15] iiiJenny commented on #148
got it. Thanks a lot～

[2019-05-13 16:30] iiiJenny opened #149 "How to merge grouped data"
# Troubleshooting
合并grouped data后，无法用pandas引用某一列数据

## Describe your question
初始数据如下图：
![image](https://user-images.githubusercontent.com/42435100/57637375-da2b3e00-75dd-11e9-858b-35ad888a63b8.png)
目标：我想根据pic（10个）和pos_x，pos_y（方位：左中右）进行分类，算出每个组合x与y的最大最小值。
1. groupby数据：根据上述三个变量合并形成10pic大分组，10*3*3小分类，每类均有x，y的min和max。
2. 但是，columns的是错位的（pic和pos_x，pos_y偏下）;
![image](https://user-images.githubuserconten

[2019-05-13 16:40] iiiJenny commented on #149
以下两列代码不知道哪个更合适，目的是求出x和y在聚合分类下（pic，pos_x，pos_y）对应的的最大、最小4个值【即每个小分组下，显示x_min, x_max, y_min, y_max四列，以及每个小分组的其他信息：lable等】：
[code]

[code]

[2019-05-14 02:17] ConnorLi96 commented on #149
根据你的```
目标：我想根据pic（10个）和pos_x，pos_y（方位：左中右）进行分类，算出每个组合x与y的最大最小值。
[code]
def has_zuo(t):
    return '左' in str(t).lower()
[code]
df_data['pos_x'] = ['pos_statistic'].apply(has_zuo)
df_data.head()
[code]

[2019-05-14 02:18] ConnorLi96 commented on #149
根据你的
[code]

##  解决方案：
Step1. 定义一个函数来查询 Series 中是否含有“左中右”等字符串
[code]

Step2. apply 函数并组成新的 series
[code]

[2019-05-14 03:21] iiiJenny commented on #149
找到方法了：
[code]
![image](https://user-images.githubusercontent.com/42435100/57668600-6f5c2000-763a-11e9-8046-d9377067a445.png)

问题解决，感谢大家～

[2019-06-04 07:02] hupili opened #150 "Add week 15 related case"
服老思 @ pwords. “18张图，看3万条‘开饭’数据，我觉得危机不远了……,” November 2, 2018. https://mp.weixin.qq.com/s/aFfa7WlyT0vwXBlDYvacCg.

[2019-07-18 13:52] MindyZHAOMinzhu opened #153 "Some problems about return 'None'"
# Troubleshooting
使用list.remove之后return出来结果是None
## Describe your environment
<img width="469" alt="屏幕快照 2019-07-18 下午9 49 32" src="https://user-images.githubusercontent.com/47046261/61462863-f8c70000-a9a5-11e9-90ca-72f9e8a3bb35.png">
<img width="379" alt="屏幕快照 2019-07-18 下午9 50 06" src="https://user-images.githubusercontent.com/47046261/61462910-08dedf80-a9a6-11e9-9ef6-906ea5832a5c.png">

* Opera

[2019-07-18 15:44] ivywze opened #154 "prevent feedparser overwrite when scrape rss feed"
# Troubleshooting

## Describe your environment

* Operating system: iOS
* Python version: 3.6
* Jupyter notebook or not? [Y/N]: Y
* Which chapter of book?: Ch7

## Describe your question

when using _feedparser_ for an element with the same name within one entry, the later one seems to overwrite the former one:

<img width="796" alt="Screen Shot 2019-07-18 at 11 24 18 PM" src="https://user-images

[2019-07-20 14:36] hupili commented on #153
@MindyZHAOMinzhu ,   you can use `help(list.remove)` to check the documentation. In short, this function is an "in-place" function, i.e. the operation is done in the original place referenced by the variable. In contrast, another type is call CoW (copy-on-write), i.e. the operation is done on a copy of the original data. So original data is kept intact when things are done. One CoW example is `str

[2019-07-20 14:37] hupili commented on #153
A bit note:

* in-place function -- is usually more efficient and saves computer memory
* CoW -- is more secure/ less error-prone/ "functional" (no side effect)

[2019-07-21 05:33] hupili commented on #154
@ivywze , can you share a partial notebook so we can follow up from where you left?

[2019-07-21 14:56] MindyZHAOMinzhu commented on #154
I cannot find the same website as Ivy had. Are there any problem with the original format of the website code?

[2019-07-21 15:16] ConnorLi96 commented on #154
Sorry for reply late, my VPN is failed so cannot access the website.

I guess you can try to use ```CSS```  and ```Xpath``` to parse it layer by layer, this ```Parse``` is prasing the whole page, maybe ignore part of tags, and I guess show more code would help us to deal with this problem soon.

[2019-07-22 02:53] ivywze commented on #154
Thanks all for the effort. @hupili sorry but that's all the code I have regarding this problem. @MindyZHAOMinzhu I think the rss feed format is like this. @ConnorLi96 thanks, I was just trying out that way.

I will just use another approach, thanks again.

[2019-07-22 02:53] #154 closed

[2019-07-23 11:10] MindyZHAOMinzhu opened #155 "ValueError: list.remove(x): x not in list"
# ValueError: list.remove(x): x not in list

## Describe your environment

* Python version:Python3
* Hardware:mac
* Jupyter notebook or not? [Y/N]:N
* Which chapter of book?:4

I work on Exercise 1 and I meet  a problem.
## Describe your question
![image](https://user-images.githubusercontent.com/47046261/61707609-79f30e00-ad7d-11e9-844c-94cf963c7e35.png)
![image](https://user-images.githubuserco

[2019-07-23 15:48] hupili commented on #155
you can print list1 and student_list before the error line. Then you can verify whether x is in or not

[2019-07-24 07:32] hupili commented on #154
@ivywze  how did you solve the original problem?

p.s. That may help future readers.

[2019-07-24 07:42] ivywze commented on #154
Sorry, I didn't solve the problem. I just used other ways to scrape.

[2019-07-24 12:20] hupili opened #156 "How to download CSV from GitHub"
@MindyZHAOMinzhu

[2019-07-24 12:28] hupili commented on #156
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/github.md#how-to-download-a-file-from-github-web-page

[2019-07-24 12:28] #156 closed

[2019-07-25 01:43] MindyZHAOMinzhu opened #157 "Test how to raise a quesion"
# Test how to raise a quesion

## I am in week00

* Operating system
* Python version:
* Hardware:
* Internet access:
* Jupyter notebook or not? [Y/N]:
* Which chapter of book?:

## Describe your question

Example: I get IOError when running my script to load files.

## The minimum code (snippet) to reproduce the issue

Example:

[code]

## Describe the efforts you have spent on this issue

Exampl

[2019-07-25 01:44] #157 closed

[2019-07-27 02:05] MindyZHAOMinzhu opened #159 "How to print csv file in Jupyter notebook"
## My environment

* Device/ Operating System: **ios**
* Python version: **3**
* Which chapter of book?: **week05**

## My question

I write a csv file, but I can not print contents in it.
Additionally, I cannot get the same outcomes as noted in the openbook.
<img width="604" alt="屏幕快照 2019-07-27 上午9 52 02" src="https://user-images.githubusercontent.com/47046261/61988582-c11b2080-b055-11e9-8db5-88

[2019-07-27 02:08] MindyZHAOMinzhu commented on #159
**The problem is :**I just write a csv file,  but if I want to print it. I should **read** it first.
Additionally, if I want to print the contents of the csv file, I should use **for** loop . to print every row.

[2019-07-27 06:42] ConnorLi96 commented on #159
Great, you actually solve this problem!

Other Tips: Please notice the path by using “pwd ”when you run read csv, otherwise there will be errors that cannot find csv file.

[2019-07-28 03:46] hupili commented on #159
Another way to quickly check text file content is to use `cat` command.

In Jupyter notebook, it becomes: `!cat file-name-of-your-csv.csv`

[2019-07-28 06:50] MindyZHAOMinzhu opened #162 "How to scrape all urls in one article"
## My environment

* Device/ Operating System: **ios**
* Python version: **python3**
* Which chapter of book?: **week07 notebook**

## My question

I study the chapter 7 of the python notebook. When I learn how to scrape all urls in one article, I cannot understand the code in the notebook. And I find there is no further explanation about why we use this code to solve the problem.
<img width="776"

[2019-07-29 12:56] MindyZHAOMinzhu opened #164 "Chromedriver is not in the Path"
## My environment

* Device/ Operating System: **ios**
* Python version: **python3**
* Which chapter of book?: **chapter8**

## My question
It shows error message when I finish downloading chromedriver.
<img width="630" alt="屏幕快照 2019-07-29 下午8 53 35" src="https://user-images.githubusercontent.com/47046261/62049997-ff296780-b242-11e9-8224-8425ff68b565.png">
<img width="555" alt="屏幕快照 2019-07-29 下午

[2019-07-29 13:54] hupili commented on #164
PATH issue is common.

Please use the following commands to verify whether you have the right path or not.

[code]

[code]

[code]

Let's checkout the command output of the above three cells.

https://en.wikipedia.org/wiki/PATH_(variable)

[2019-07-29 15:00] MindyZHAOMinzhu commented on #164
[code]
<img width="570" alt="屏幕快照 2019-07-29 下午10 58 08" src="https://user-images.githubusercontent.com/47046261/62058766-859a7500-b254-11e9-8073-80a7c9de6d94.png">
[code]
<img width="489" alt="屏幕快照 2019-07-29 下午10 58 29" src="https://user-images.githubusercontent.com/47046261/62058784-8d5a1980-b254-11e9-8317-a305f9b6bbfb.png">
[code]
<img width="380" alt="屏幕快照 2019-07-29 下午10 58 37" src="https://

[2019-07-30 00:35] MindyZHAOMinzhu commented on #164
Thank you so much!!!!!! I get it.
My solution is as followed, it may help others.
## check the path
[code]
use this code in your terminal

<img width="574" alt="屏幕快照 2019-07-30 上午8 27 32" src="https://user-images.githubusercontent.com/47046261/62091577-48f66a00-b2a4-11e9-987a-50d516a6ab72.png">
## Download suitable version of chromedriver
download the proper version of the chromedriver. At first,

[2019-07-30 08:17] hupili commented on #164
@MindyZHAOMinzhu very good first quick solution!

Besides moving into the system default executable path, i.e. your currently highlighted one, you can also try to add the folder that contains chromedriver into the $PATH variable by `sys.path.append(your_path_string_here)`.

[2019-07-30 08:19] hupili commented on #164
btw, are you using Anaconda's Jupyter notebook?

I guess the issue will be surpressed if you use the virtual environment setup from this book.

[2019-07-30 14:35] ConnorLi96 commented on #162
**post__title-link**  is an attribute in the website you scrawl, which is hidden in the html, you need chrome developer tool to check it.

```find_all```  is a function in requests library, when you feel confused for the modules, the best way is to search the solution in google, such as this [link](https://blog.51cto.com/yuanzhitang/2058281), because all the problems you face definitely are solved

[2019-07-30 22:33] MindyZHAOMinzhu commented on #164
Can I use *sys.path.append(your_path_string_here)* in my code in my jupyternotebook?

[2019-07-30 22:40] MindyZHAOMinzhu commented on #164
I try to use terminal to get venv, but it seems I get the same path.
<img width="566" alt="屏幕快照 2019-07-31 上午6 39 50" src="https://user-images.githubusercontent.com/47046261/62170461-07c29080-b35e-11e9-83bf-5ec40eb54fd4.png">

[2019-07-30 22:50] MindyZHAOMinzhu commented on #162
Thank you a lot!!! I get it!!! At first, I did not find the proper attribute in the html. It seems I did not go through the right website!! I will try to find solution when I face the problem again.

[2019-08-03 07:32] MindyZHAOMinzhu opened #166 "cannot import Bar from pyecharts"
## My environment

* Device/ Operating System: **ios**
* Python version: **python3**
* Which chapter of book?: **week11**

## My question

I cannot import Bar from pyecharts.

<img width="677" alt="屏幕快照 2019-08-03 下午3 18 28" src="https://user-images.githubusercontent.com/47046261/62408998-90158f80-b603-11e9-86bf-be50ead9812a.png">

## The minimum code (snippet) to reproduce the issue

[code]

## D

[2019-08-03 07:41] MindyZHAOMinzhu commented on #166
I tried another solution:
[code]
It seems it works, but I am not sure if it is the proper way to solve the problem.

[2019-08-03 07:51] MindyZHAOMinzhu commented on #166
I find a useful Github website which is detailed and I try the steps in the website and success.
[pyecharts](https://github.com/pyecharts/pyecharts)
<img width="1440" alt="屏幕快照 2019-08-03 下午3 51 05" src="https://user-images.githubusercontent.com/47046261/62409211-87728880-b606-11e9-978e-26f6f3a29360.png">

[2019-08-04 08:48] hupili commented on #166
@ConnorLi96  can you help to also test this. It seems two possible causes to me:

1. @MindyZHAOMinzhu is using Anaconda so the pip installation may redirect to wrong location. It is suggested to use virtual env to repeat all experiments in the open book
2. May be Python version or package version break the demo code.  -- in this case, we need a more sustainable solution: re-run all the codes with

[2019-08-04 08:49] hupili commented on #164
`sys.path.append(your_path_string_here)`  is to use in the Jupyter notebook.

[2019-08-05 13:32] ConnorLi96 commented on #166
I also have tried this module and face same problem in the previous weeks, and then I change to use matplotlib to finish work quickly, rather than focus on solving it. So I guess you can implement your visualization need at first, and then research it when you have leisure  @MindyZHAOMinzhu

[2019-08-05 14:09] hupili commented on #166
I see. Thanks for the info. It is good to have an issue even if we encounter problems. So we can fix later. It looks more like version unmatching problem.  @ConnorLi96 can you help to see if installing previous version of pyecharts work? i.e. `pip3 install pyecharts==x.x.x`.

[2019-08-06 02:39] ConnorLi96 commented on #166
```v1.0.0 ``` can import Bar.

- Step1, use ```print(sys.path)``` to find your packages location
- Step2, cd in this path, then run ```pip uninstall pyecharts```.
- Step3, ```!pip3 install pyecharts==v1.0.0```

@MindyZHAOMinzhu

[2019-08-06 08:17] MindyZHAOMinzhu commented on #166
Thank you all a lot!! It works now when I use ``` !pip3 install pyecharts==v1.0.0 ```

[2019-08-06 08:30] MindyZHAOMinzhu commented on #164
Thank you a lot!! I got it. I tried the code: ```  sys.path.append(your_path_string_here)```, and find it is useful.

There are more detais which about the solution. I write something useful I find online here which maybe help others who have the same question.👇
<img width="739" alt="屏幕快照 2019-08-06 下午4 28 45" src="https://user-images.githubusercontent.com/47046261/62523980-707ea100-b867-11e9-8321

[2019-08-07 04:04] ConnorLi96 commented on #166
you can google ```sys.path```  to understand the paths one by one. Actually, the step 1 is not compulsory, just ensure pip command is running on the python you use, and make env clear.

[2019-08-11 12:48] hupili commented on #164
@MindyZHAOMinzhu

https://github.com/hupili/python-for-data-and-media-communication/blob/master/jupyter-notebook/Demo%20of%20PATH.ipynb

This demo can give you further information on the PATH variable.

[2019-08-11 12:50] hupili commented on #166
@MindyZHAOMinzhu can you help to revise the corresponding section, so future readers would use v1.0.0 by default?

(later we can revise the whole chapter in order to accommodate later versions of pyecharts; for the moment, fixing version number is the quickest solution).

[2019-08-12 02:43] MindyZHAOMinzhu commented on #166
OK, I will pull the request.

[2019-09-07 10:20] hupili opened #169 "Common methods to exit"
https://github.com/hupili/python-for-data-and-media-communication-gitbook/blob/master/shell.md

## How to exit a program

- ctrl + D
- ctrl + C
- Esc
- q